

	<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<div id="gridTop"></div>
	
	<script th:inline="javascript">
	
	console.log(/*[[${soMainList}]]*/ [])
	
	const grid = new tui.Grid({
	    el: document.getElementById('gridTop'), 
		data : /*[[${soMainList}]]*/ [],
	    rowHeaders: ['checkbox'],
		scrollX: true,
	    scrollY: true,
	    pageOptions: {
	        useClient: true,  // 서버 사이드 페이징 활성화
	        perPage: 20
	    },
	    columns: [
	        {
	            header: '수주일자',
	            name: 'soDate',
				sortable: true, 
				filter: 'text',
				width: 200,
				align: "center" ,
				formatter: function({ value }) {
	       		    // 날짜 형식을 'YYYY-MM-DD HH:mm'로 포맷팅
	       		    const date = new Date(value);
	       		    const year = date.getFullYear();
	       		    const month = String(date.getMonth() + 1).padStart(2, '0');
	       		    const day = String(date.getDate()).padStart(2, '0');
	       		    const hours = String(date.getHours()).padStart(2, '0');
	       		    const minutes = String(date.getMinutes()).padStart(2, '0');
	       		 	return `${year}년 ${month}월 ${day}일 ${hours}시 ${minutes}분`;
	       		  }
	        },
	        {
	            header: '사원이름',
	            name: 'empName',
				sortable: true, 
				filter: 'text',
				width: 80,
				align: "center" 
	        },
			{
                header: '수량',
                name: 'soQuantity',
				sortable: true, 
				filter: 'text',
				width: 40,
				align: "center" 
            },
	    ] // 열 설정
	});
	
	// 체크박스 클릭 시 이벤트 추가
	grid.on('check', (checkItem) => {
	    const rowData = grid.getRow(checkItem.rowKey); 
	    alert(`선택한 행: 이름=${rowData.soCode}, 나이=${rowData.soDate}, 주소=${rowData.empId}`);
	});
	
	// 체크 해제 시 이벤트 추가
	grid.on('uncheck', (checkItem) => {
	    const rowData = grid.getRow(checkItem.rowKey);
	    alert(`해제한 행: 이름=${rowData.name}, 나이=${rowData.age}, 주소=${rowData.address}`);
	});
	
	grid.on('click', (ev) => {
	});
	</script>
	<!-- 그리드 끝 --> 