	


<!-- 부트스트랩 모달 css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<!-- 부트스트랩 모달 js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#empModal">
	    lunch modal
	</button>
	
	<!--  모달 창 (Bootstrap 사용) -->
	<div class="modal fade" id="empModal" tabindex="-1" aria-labelledby="empModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="empModalLabel">사원 등록</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <form action="empRegi" method="post" enctype="multipart/form-data">
	                <div class="modal-body">
	                	<label for="empProfile">프로필사진</label>
	                    <div class="form-group" >
<!-- 	                    <div th:if="${emp.enpProfile != null}"> -->
<!-- 						    <img th:src="@{${emp.empProfile}}" id="profile_preview" height="100px"> -->
<!-- 						</div> -->
<!-- 						<div th:unless="${member.memProfile}"> -->
<!-- 						<div th:unless="${emp.enpProfile ==null}"> -->
						    <img th:src="@{/images/profile_preview.png}" class="profile-thumb" alt="profile" id="preview_profile" height="100px">
<!-- 						</div> -->
							<input type="file" name="empProfile">
	                    </div>
	                	<label for="empLevel">사원권한</label>
	                    <div class="form-group" >
	                       <select id="empLevel" class="form-select">
		                       	<option value="">하</option>
		                       	<option value="">중</option>
		                       	<option value="">상</option>
	                       </select>
	                    </div>
	                    <label for="empName">이름</label>
	                    <div class="form-group">
	                        <input type="text" id="empName" class="form-control" name="" placeholder="이름 입력" required>
	                    </div>
	                    <label for="empId">사원 번호</label>
	                    <div class="form-group">
	                        <input type="text" id="empId" class="form-control" name="" placeholder="사원 번호 입력" required>
	                    </div>
	                    <label for="deptName">부서</label>
	                    <div class="form-group" required>
	                       <select id="deptName" name="" class="form-select">
		                       	<option value="hr">인사</option>
								<option value="dev">개발</option>
								<option value="martketing">마케팅</option>
								<option value="sales">영업</option>
								<option value="production">생산</option>
	                       </select>
	                    </div>
	                    <label for="deptPosition">직급</label>
	                    <div class="form-group" >
	                       <select id="deptPosition" name="" class="form-select" required>
		                       	<option value="employee">사원</option>
								<option value="assistant">주임</option>
								<option value="associate">대리</option>
								<option value="leader">팀장</option>
								<option value="manager">부장</option>
								<option value="deputy">차장</option>
								<option value="director" disabled>이사</option>
								<option value="ceo" disabled>대표이사</option>
	                       </select>
	                    </div>
	                    <label for="empPhone">전화번호</label>
	                    <div class="form-group">
	                        <input type="text" id="empPhone" name="" class="form-control" placeholder="전화번호 입력">
	                    </div>
	                    <label for="empGender">성별</label>
	                    <div class="form-group" >
	                       <select id="empGender" name="" class="form-select">
		                       	<option value="M">남자</option>
		                       	<option value="F">여자</option>
	                       </select>
	                    </div>
	                    <label for="empEmail">이메일</label>
	                    <div class="form-group">
	                        <input type="text" id="empEmail" name="" class="form-control" placeholder="이메일 입력">
	                    </div>
	                    
	                    <hr>
	                    
	                    <label for="empMaritalStatus">결혼여부</label>
	                   <div class="form-group" >
	                       <select id="empMaritalStatus" name="" class="form-select">
		                       	<option value="single">미혼</option>
		                       	<option value="married">기혼</option>
	                       </select>
	                    </div>
	                    <label for="empStatus">재직상태</label>
	                    <div class="form-group" >
	                       <select id="empStatus" name="" class="form-select">
		                       	<option value="">재직</option>
		                       	<option value="">퇴사</option>
		                       	<option value="">휴직</option>
	                       </select>
	                    </div>
	                    <label for="">고용유형</label>
	                   <div class="form-group" >
	                       <select id="" name="" class="form-select">
		                       	<option value="">정규직</option>
		                       	<option value="">기술직</option>
		                       	<option value="">계약직</option>
	                       </select>
	                    </div>
	                    <label for="">학력</label>
	                   <div class="form-group" >
	                       <select id="" name="" class="form-select">
		                       	<option value="">고졸</option>
		                       	<option value="">학사</option>
		                       	<option value="">석·박사</option>
	                       </select>
	                    </div>
	                    
	                    <hr>
	                    <label for="">기본급(월급)</label>
	                    <div class="form-group">
	                        <input type="text" id="" name="" class="form-control" placeholder="">
	                    </div>
	                    <label for="">은행</label>
	                    <div class="form-group">
	                        <input type="text" id="" name="" class="form-control" placeholder="">
	                    </div>
	                    <label for="">계좌번호</label>
	                    <div class="form-group">
	                        <input type="text" id="" name="" class="form-control" placeholder="">
	                    </div>
	                    
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                    <button type="submit" class="btn btn-primary">등록</button>
	                </div>
	            </form>
	        </div> <!-- modal-content -->
	    </div><!-- modal-dialog modal-lg -->
	</div><!-- modal -->