<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- 부트스트랩 모달 css -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<!-- 부트스트랩 모달 js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		
		<!-- 그리드 -->
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
		
		<!-- SweetAlert2 CDN -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		
	    <!-- 기본 메타 정보 -->
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>발주 등록</title>
    
    <title>Cmt</title>
	<style>
         body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 20px;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 900px;
            margin: auto;
        }
        .form-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .form-group label {
            width: 120px;
            font-weight: bold;
        }
        .form-group input, .form-group select, .form-group textarea {
            flex: 1;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .search-btn {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px 12px;
            cursor: pointer;
            margin-left: 5px;
            border-radius: 5px;
        }
        .search-btn:hover {
            background-color: #0056b3;
        }
        .date-container {
            display: flex;
            align-items: center;
        }
        .date-container input {
            flex: 1;
        }
        .calendar-btn {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px;
            cursor: pointer;
            margin-left: 5px;
            border-radius: 5px;
        }
		
		.custom-modal-size {
	        max-width: 900px; /* 원하는 너비로 설정 */
	        width: 90%; /* 반응형 적용 */
	    }
		
		.selecedRowClass {
		    background-color:aliceblue !important;
		    color: white;
		  }

    </style>
</head>
<body>
	
    <div layout:fragment="content">
   		<form id="poForm" method="post" th:action="@{/purchases/poregister}" th:object="${purchasesOrder}">
		 <div class="container">
	    	<h2>발주 정보 입력</h2>
	        <div class="form-group">
	            <label>공급업체명 *</label>
				<input type="text" id="cltNameTxt" readonly="true" style="margin-right: 10px;" placeholder="거래처 검색">
				<input type="hidden" th:field="*{cltCode}" id="cltNameHidden">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cltModal">검색</button>
	        </div>
	         <div class="form-group">
	            <label>원자재명 *</label>
	            <select id="productSelected" th:field="*{mtlCode}">
	                <option th:each="product : ${materialList}"
						th:value="${product.mtlCode}"
						th:text="${product.mtlName}">적용</option>
	            </select>
	        </div>
	        <div class="form-group">
	            <label>발주번호 *</label><!-- 서버에서 바로 처리 th:value="${nextSeq}"와  th:filed="*{poNo}"를 같이 사용 못 한다 -->
 	            <input type="text" th:value="${nextSeq + 1}" id="ponoTxt" readonly="true"> 
				<input type="hidden" id="ponoHid" th:field="*{poNo}">
	        </div>
	        <div class="form-group">
	            <label>발주코드 생성 *</label><!-- 서버에서 바로 처리 th:value="${poCode}"와 th:field="*{poCode}"를 같이 사용 못 한다 -->
				<input type="date" id="poCodeMakeDate">
	            <input type="text" id="poCodeTxt" readonly="true" th:field="*{poCode}">
	        </div>
	        <div class="form-group date-container">
	            <label>발주일자 *</label>
	            <input type="date" th:field="*{poDate}">
	        </div>
	         <div class="form-group date-container">
	            <label>예상 입고일자 *</label>
	            <input type="date" th:field="*{mtlRcvDate}">
	        </div>
			<div class="form-group">
	            <label>수량 *</label>
	            <input type="text" placeholder="숫자입력" value="" th:field="*{poQty}">
	        </div>
			<div class="form-group">
				<label>출고단가 *</label>
				<input type="text" placeholder="숫자입력" th:field="*{mtlRcvPrice}">
	        </div>
			<div class="form-group">
				<label>진행 상태 *</label>
				<select id="productSelected" th:field="*{poStatus}">
	                <option th:each="poStatus : ${poStatusList}"
						th:value="${poStatus.statusCode}"
						th:text="${poStatus.statusName}">
					</option>
	            </select>
	        </div>
			<div class="form-group">
		        <label>담당자 *</label>
		        <select id="deptSelected">
				<option th:each="dept : ${commListDetp}"
					th:value="${dept.cmnDetailCode}"
					th:text="${dept.cmnDetailName}">
				</option>
				</select>
				<select id="posSelected">
					<option th:each="pos : ${commListPosition}"
						th:value="${pos.cmnDetailCode}"
						th:text="${pos.cmnDetailName}">
					</option>
				</select>
					<select id="empSelected" th:field="*{empNo}">
				</select>
			</div>
    	</div><!-- <div class="container"> -->
		
		<br>	
		
    	<div style="text-align: center;">
			<button type="submit" class="btn btn-primary">입력</button>
    		<button type="button" class="btn btn-primary" onclick="window.close()">취소</button>
    	</div>
		</form>	
    </div> <!-- layout:fragment="content" -->
   	
	<!-- 모달 시작 -->
	<div class="modal fade" id="cltModal" tabindex="-1" insert>
	    <div class="modal-dialog" style="max-width: 60%;">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="empModalLabel">거래처 목록</h5>
	                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <form action="empRegi" method="post" >
					<div class="modal-body">
					<div id="gridTop" style="margin: 20px;"></div>
					</div>
	            </form>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="cltReg()">등록</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
	        </div> <!-- modal-content -->
	    </div><!-- modal-dialog modal-lg -->
	</div><!-- modal -->
	<!-- 모달 끝 -->
	
	
	<!-- 그리드 시작-->
    <script th:inline="javascript">
	
	let selectedGridValue; //그리드에서 선택한 row값을 저장할 전역 변수
		
	document.addEventListener("DOMContentLoaded", function () {
		
	    let grid; // 그리드 객체를 담을 변수
		
	    // 모달이 열린 후(`shown.bs.modal`)에 그리드 초기화
		// 모달 안에 그리드가 있어서 초기화시 DOM에 숨겨진 상태기 때문에 초기화로 다시 그려줌
	    $('#cltModal').on('shown.bs.modal', function () {
	        if (!grid) { // 중복 생성 방지
	            grid = new tui.Grid({
	                el: document.getElementById('gridTop'),
	                data: /*[[${cltList}]]*/ [], // Thymeleaf 데이터 바인딩
	                //rowHeaders: ['checkbox'],
	                scrollX: true,
	                scrollY: true,
	                columns: [
	                    { 	header: '거래처코드', 
							name: 'cltCode', 
							sortable: true, 
							filter: { type: 'text' }, 
							width: 120, 
							align: "center" 
						},
	                    { 	header: '거래처명', 
							name: 'cltName', 
							sortable: true, 
							filter: { type: 'text' }, 
							width: 130, 
							align: "center" 
						},
	                    { 	header: '이메일', 
							name: 'cltEmail', 
							sortable: true, 
							filter: { type: 'text' }, 
							width: 180, 
							align: "center" 
						},
	                    { 	header: '전화번호', 
							name: 'cltPhone', 
							sortable: true, 
							filter: { type: 'text' }, 
							width: 120, 
							align: "center" 
						}
	                ]
	            });
				
				// 체크박스 클릭 시 이벤트 추가
				grid.on('check', (checkItem) => {
				    const rowData = grid.getRow(checkItem.rowKey); 
				    //alert(`선택한 행: 이름=${rowData.soCode}, 나이=${rowData.soDate}, 주소=${rowData.empId}`);
				});
				
				// 체크 해제 시 이벤트 추가
				grid.on('uncheck', (checkItem) => {
				    const rowData = grid.getRow(checkItem.rowKey);
				    //alert(`해제한 행: 이름=${rowData.name}, 나이=${rowData.age}, 주소=${rowData.address}`);
				});
				
				let selectedEv = null;
				grid.on('click', (ev) => {
					const rowData = grid.getRow(ev.rowKey);

					//그리드에서 선택한 rowData 가져오기
					selectedGridValue = rowData ? rowData : null;
					
					//선택한 row 배경색 주기
					if(selectedEv !== null){
						grid.removeRowClassName(selectedEv.rowKey, 'selecedRowClass');

					}
					selectedEv = ev;
					grid.addRowClassName(selectedEv.rowKey, 'selecedRowClass');
				});
	        }//if (!grid) 
	    });//$('#cltModal').on('shown.bs.modal', function () {
			
	    // 모달이 닫힐 때 그리드를 제거하여 다음에 열릴 때 다시 생성
		//Blocked aria-hidden 에러 방지
	    $('#cltModal').on('hidden.bs.modal', function () {
	        if (grid) {
	            grid.destroy(); 
	            grid = null;
	        }
	    });
	}); //document.addEventListener("DOMContentLoaded", function () {
	
	function cltReg(){
		
		let cltcode = selectedGridValue.cltCode;
		let cltname = selectedGridValue.cltName;
		
 		let cltTxt = document.getElementById("cltNameTxt");
		if(cltTxt){
			cltTxt.value = cltname;
		}
		
		let cltHidden = document.getElementById("cltNameHidden");
		if(cltHidden){
			cltHidden.value = cltcode;
		}

		$('#cltModal').modal('hide');
	}
	
    </script>
	<!-- 그리드 끝-->
	
	<th:block layout:fragment="script">
		<script src="https://code.jquery.com/jquery.min.js"></script>
	    <script>
    	$(document).ready(function(){
    		
			//poNo 텍스박스의 th:value와 th:field를 같이 사용할 수 없기 때문에 
			//값을 hidden에 넣는다
			var ponotxt = $("#ponoTxt").val();
			$("#ponoHid").val(ponotxt);
			
			//달력을 클릭했을 때 서버로 데이터를 넘겨 발주코드를 생성
			$("#poCodeMakeDate").on('change', function(){
				
				var v = $(this).val();
				
				$.ajax({
					url: '/purchases/makePoCode',
					type: 'GET',
					data: {data: v},
					success : function(response){
						console.log(response)
						$("#poCodeTxt").val(response);
					},
					error : function(error){
						console.log("error:" + error)
					}
					
				});
			})
			
			//부서와 직위가 변할 때 마다 다른 직원 목록 가져오기
    		let deptCode = $("#deptSelected").val();
    		let posCode = $("#posSelected").val();
			
			let code = {
    			"deptCode" : deptCode,
    			"posCode" : posCode
    		};
    		
			ajaxExe(code);
			
			//부서 셀이 변경될 때 마다 내용 갱신 후 ajaxExe(서버쪽으로 전송)에 반영
    		$("#deptSelected").on("change",function(){
    			//alert("dept변경");
    			deptCode = $("#deptSelected").val();
				posCode = $("#posSelected").val();
				
				code = {
	    			"deptCode" : deptCode,
	    			"posCode" : posCode
	    		};
				
				ajaxExe(code);
    		})
    		
			//직급 셀이 변경될 때 마다 내용 갱신 후 ajaxExe(서버쪽으로 전송)에 반영
    		$("#posSelected").on("change", function(){
				deptCode = $("#deptSelected").val();
				posCode = $("#posSelected").val();
				
				code = {
	    			"deptCode" : deptCode,
	    			"posCode" : posCode
	    		};
				
				ajaxExe(code);
    		})
			
			//부서와 직급이 변할 때 마다 회원 이름을 가져옴
			function ajaxExe(code){
				if(code){
					$.ajax({
		    			url:"/sales/getEmpName",
		    			type:"GET",
		    			data: code,
		    			success: function(data){
		    				let $select = $("#empSelected");
							
							//$select.find("option:not(:first)").remove();
							$select.find("option").remove();
							
							//서버로부터 data를 가져와서 셀렉션에 forEach로 추가
							data.forEach(emp => {
								console.log(emp)
								let option = `<option value="${emp.EMP_NO}">${emp.EMP_NAME}</option>`;
								$select.append(option);								
							});
		    			},
		    			error: function(error){
		    				alert(error);
		    			}
		    		}); 
				}
			}
    	});
		
		//입력 버튼
		function validateForm(event) {
			
			/* 
			
			여기 유요성 검사 
			
			*/
			//서브밋 setTimeout 이후 실행
			document.getElementById("poForm").submit();
			
			//setTimeout으로 창을 닫는다
			setTimeout(function(){
				
				window.opener.location.reload();
				
				window.close();
				
			},1000);
		}
	    </script>
	</th:block>
</body>

</html>


