<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}"> 
	<head>
		
	<!-- date-picker -->
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css">
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
	
	<!-- pagination -->
	<script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.min.js"></script>
			
	<!-- toast 부트스트랩 기본 -->
<!-- 	<link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css" /> -->
<!-- 	<script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.min.js"></script> -->
		
	<title>CMT</title>
	<style>
		
    .container1 {
        display: grid;
		grid-template-columns: 150px 170px 100px 200px 50px 200px 160px 150px 150px 100px 1fr; 
        gap: 3px;
        background: #f5f5f5;
        padding: 4px;
        border-radius: 5px;
		border : 1px solid black;
		text-align: center;
		width: 1600px;
    }
	
	.container2 {
        display: grid;
		grid-template-columns: 150px 200px 200px 150px 200px 200px 150px 200px 1fr; 
        gap: 3px;
        background: #f5f5f5;
        padding: 4px;
        border-radius: 5px;
		border : 1px solid black;
		text-align: center;
		width: 1600px;
    }
		
	
    .container input, .container select {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
	
    .button-container {
        display: flex;
        gap: 5px;
        margin: 10px;
		justify-content: space-between;
		width: 1600px;
    }
	
    button {
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }
    
	/*
    .tui-grid-container {
     	width: 1700px !important; 
    }
	
	.tui-grid-rside-area {
		width: 1700px !important;
	}*/
	
	.selecedRowClass {
	    background-color:aliceblue !important;
	    color: white;
	 }

	</style>
</head>

<body>
    <div layout:fragment="content">
		<div class="button-container">
			<div><h2>발주조회</h2></div>
			<div>
			<button type="button" class="btn btn-primary" onclick="location.reload()" id="completeBtn">✏️현재 수정 모드</button>
			<button type="button" class="btn btn-primary" id="searchBtn">🔍 검색</button>
			<button type="button" class="btn btn-primary" onclick="poRegisterOpenWindows()">📃 신규</button>
			<button type="button" class="btn btn-primary" id="delBtn" onclick="poDelOpenWindows()">❎ 삭제</button>
			
	        <!-- <button class="cancelBtn" onclick="poEditOpenWindows()">✏️ 수정</button> 
				수정버튼을 눌러서 페이지를 넘기지 않고 자체에서 바로 수정을 함 -->
			</div>
	    </div>
		
		<form action="/purchases/po" method="get" th:object="${PurchasesOrder}">	    
		    <div class="container1">
				<!-- 발주 코드 -->
		        <label class="sell_company_label">발주 코드</label>
				<select class="sell_select" id="poCode">
					<option value="">--선택하세요--</option>
		            <option th:each="code : ${poMainList}"
						th:value="${code.poCode}"
						th:text="${code.poCode}"
					></option><!--selected="${SalesOrder.pdtCode == code}"-->
		        </select>
				
				<!-- 날짜 기간 -->
				<label class="sell_company_label">기간</label>
		        <input type="date" class="sell_date1" id="startDate">
		        <span class="sell_tilt">~</span>
		        <input type="date" class="sell_date2" id="endDate">
				<select class="sell_select" id="dateType">
					<option value="">일자 유형</option>
		            <option value="poDate">발주일자</option><!--selected="${SalesOrder.pdtCode == code}"-->
					<option value="shipDate">입고일자</option>
		        </select>
					
				<!-- 발주 번호 -->			
				<label class="sell_sonum_label">발주번호</label>
		        <input type="text" id="poNo" class="sell_sonum_text">
		        <span></span>
				
				<!-- 검색 버튼 -->
				<span></span>
		    </div>
	
		    <div class="container2">
				<!-- 원자재 코드 -->
		        <label>원자재 코드</label>
				<select class="sell_select" id="mtlCode">
					<option value="">--선택하세요--</option>
		            <option th:each="code : ${mtlCode}"
						th:value="${code}"
						th:text="${code}"
					></option><!-- selected="${SalesOrder.pdtCode == code}" -->
		        </select>
		        <input type="text" id="mtlName" placeholder="NAME">
		      
				<!-- 공급업체 코드 -->
		        <label>공급업체 코드</label>
				<select class="sell_select" id="cltCode">
					<option value="">--선택하세요--</option>
		            <option th:each="code : ${cltCode}"
						th:value="${code}"
						th:text="${code}"
					></option><!-- selected="${SalesOrder.cltCode == code}" -->
		        </select>
		        <input type="text" id="cltName" placeholder="NAME">
		        
				<!-- 진행 상태 -->
				<label>진행상태</label>
				<select class="sell_select" id="poStatus">
					<option value="">--선택하세요--</option>
		            <option th:each="status : ${poStatusList}"
						th:value="${status.statusCode}"
						th:text="${status.statusName}"
					></option><!--selected="${SalesOrder.cltCode == code}"-->
		        </select>
		    </div><!--  <div class="container2"> -->
		</form>
		
		<br>

		<!-- grid 출력 태그 -->
<!--	   	<div id="gridTop" style="width:1600px"></div>-->
		<div id="gridTop"></div>
		
		<!-- 자바 스크립트 시작, jQuery 구문 포함 -->
		<script src="/js/jquery-3.7.1.js"></script>
	    <script th:inline="javascript">
		
		//===================================== Grid부분 시작 ===============================================
		
		//모든 컬럼 함깨 표시
		let cltList = /*[[${cltList}]]*/ [];
		let empList = /*[[${empList}]]*/ [];
		let materialList = /*[[${materialList}]]*/ [];
		let poStatusList = /*[[${poStatusList}]]*/ [];
		
		
		let empListSelected = empList.map(item1 => ({text: item1.empName, label: item1.empName, value: item1.empId}));
		let cltListSelected = cltList.map(item2 => ({text: item2.cltName, label: item2.cltName, value: item2.cltCode}));
		let materialListSelected = materialList.map(item => ({text: item.mtlName, label: item.mtlName, value: item.mtlCode}));
		let poStatusListSelected = poStatusList.map(item => ({text: item.statusName, label: item.statusName, value: item.statusCode}));
		
		console.log('cltList - ',cltList)
		console.log('empList - ',empList);
		console.log('materialList - ',materialList)
		console.log('poStatusList - ',poStatusList);
		
	    console.log('poMainList - ',/*[[${poMainList}]]*/ []);
		
		let gridData = /*[[${poMainList}]]*/ [];
	    
	    let grid = new tui.Grid({
	        el: document.getElementById('gridTop'), 
			//data : /*[[${poMainList}]]*/ [],
			data: gridData,
	        rowHeaders: ['checkbox'], //수정을 따로 안 만들기 때문에 필요가 없어졌다
			//selectionUnit: 'row', //행 단위선택
			scrollX: true,
            scrollY: true,
			//width: 1600,  // 전체 너비 지정
			//bodyHeight: 550, // 세로 스크롤을 위한 높이 지정
			pageOptions: {
			   useClient: true,   // 클라이언트 사이드 페이징 사용
			   perPage: 10        // 페이지당 행 수
			 },
	        columns: [
				{
					header: '발주번호',
					name: 'poNo',
					width: 100,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
	            {
	                header: '발주코드',
	                name: 'poCode',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '발주일자',
	                name: 'poDate',
					width: 200,
					fontSize: '40',
					sortable: true, 
					filter: 'text',
					align: 'center',
					editor: {
			           type: 'datePicker',
			           options: {
			             format: 'yyyy-MM-dd',  
			             language: 'ko'
			           }
			         }
	            },
				{
	                header: '입고일자',
	                name: 'mtlRcvDate',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: "center" ,
					editor: {
			           type: 'datePicker',
			           options: {
			             format: 'yyyy-MM-dd',  
			             language: 'ko'
			           }
			         }
	            },
	            {
					header: '사원명',
	                name: 'empId',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: 'center',
					editor: {
						type: 'select',
						options: {
							listItems: empListSelected
						}
					},
					formatter: ({ value }) => {
				    	const emp = empListSelected.find(item => item.value === value);
				    	return emp ?  emp.label : value;
				    	//return emp.label;
				    }
	            },
				{
	                header: '원자재명',
	                name: 'mtlCode', //SalseOrder의 entity에 있는 pdtCode
					width: 200,
					sortable: true, 
					filter: 'text',
					align: 'center',
					editor: {
						type: 'select',
						options: {
							listItems: materialListSelected //Products의 entity에 있는 pdtCode와 pdtName
						}
					},
					formatter: ({ value }) => {
				    	const pdt = materialListSelected.find(item => item.value === value);
				    	return pdt ? pdt.label : value; 
				    }
	            },
				{
	                header: '거래처명',
	                name: 'cltCode',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: 'center',
					editor: {
						type: 'select',
						options: {
							listItems: cltListSelected
						}
					},
					formatter: ({ value }) => {
				    	const clt = cltListSelected.find(item => item.value === value);
				    	return clt ? clt.label : value; 
				    }
	            },
	            {
	                header: '수량',
	                name: 'poQty',
					width: 100,
					sortable: true, 
					filter: 'text',
					align: "center",
					editor: "text"
	            },
	            {
	                header: '입고 단가',
	                name: 'mtlRcvPrice',
					width: 150,
					sortable: true, 
					filter: 'text',
					align: "center",
					editor: "text"
	            },
				{
					header: '진행상태',
					name: 'poStatus', //salesOrder의 entity에 있는 poStatus
					width: 200,
					sortable: true,
					filter: 'text',
					align: 'center',
					editor: {
						type: 'select',
						options: {
							listItems: poStatusListSelected //SalesOrderStatus의 배열 값 
						}
					},
					formatter: ({ value }) => {
				    	const stu = poStatusListSelected.find(item => item.value === value);
				    	return stu ? stu.label : value; 
				    }
	            },
	        ], // 열 설정
			autoEdit: true,
			editingEvent: 'dblclick' 
	    });
	    
		let selectedEv = null;
		
		grid.on('click', ev => {
			if(selectedEv !== null){
				grid.removeRowClassName(selectedEv.rowKey, 'selecedRowClass');
			}
			
			selectedEv = ev;
			grid.addRowClassName(selectedEv.rowKey, 'selecedRowClass');
			
		});
		
		grid.on('onGridUpdated', (ev) => {
			// 그리드 레이아웃 새로고침 (로드가 다 되지 않는 경우 그리드가 흰색 화면으로 출력될 때가 있다.)
		    grid.refreshLayout();
		});
		
		 grid.on('afterChange', (ev) => {
			 
			let evValue = ev.changes[0];
			let rk = evValue.rowKey;
			let rowData = grid.getRow(rk);
			let pono = rowData.poNo;
			console.log("pono:"+pono);
			
			//console.log(ev.changes[0]); 
			//{rowKey: 5, columnName: 'empId', value: '930216', prevValue: '921114'}
			
			let sendData = {
				poNo : pono,
				columnName : evValue.columnName,
				value : evValue.value
			};
			
			console.log(sendData);
			//{soNo: 445, columnName: 'soStatus', value: 'SO_INPRODUCTION'}
			
			$.ajax({
				url: "/purchases/poeditexe",
				type: "GET",
				data: sendData,
				success: function(result) {
					console.log('수주 리스트 : ',result);
				},
				error: function(errorResult) {
					grid.restore(); // 이전 상태로 롤백
				}
			});
	    });


		//===================================== 일반 함수 부분 시작 ===============================================
		
		//그리드에서 선택한 값을 저장할 배열 선언
		let gridCheck = [];
		
		//신규 버튼 클릭시 실행되는 입력 창
    	function poRegisterOpenWindows(){
			window.open("/purchases/poRegisterForm", "_blank", "toolbar=no, menubar=no, status=no, width=1100, height=650, resizable=no")	
    	}
		
		//삭제 버튼 클릭시 실행되는 수정 창 - 현재 수정 버튼 사용하지 않음
		function poDelOpenWindows(){

				//gridCheck = grid.getCheckedRowKeys(); 선택된 키값 가져오기
				var checkedValue = grid.getCheckedRows();
				var checkedArray = checkedValue.map(row => row.soNo)
				
				console.log(checkedArray);
				
				if(checkedValue.length <= 0){
					
					Swal.fire({
					  icon: "warning",
					  title: "선택된 항목이 없습니다.",
					});
					
					return;
				}
				
				Swal.fire({
					title: '삭제 하시겠습니까?',
				   	text: "이 작업은 되돌릴 수 없습니다!",
				  	icon: 'warning',
				  	showCancelButton: true,
				  	confirmButtonText: '확인',
				  	cancelButtonText: '취소'
				}).then((result) => {
				  if (result.isConfirmed) {
				    
						$.ajax({
							url: "/purchases/delItems",
							type: "POST",
							contentType: "application/json",
							data: JSON.stringify(checkedValue),
							success: function(result){
								if(result === "SUCCESS"){
									location.reload();
								}
							},
							error: function(msg){
								console.log("error:" + msg);
							}
						});	
				  	} 
				});
			};//poDelOpenWindows
		
		//수정 버튼 클릭시 실행되는 수정 창 - 현재 수정 버튼 사용하지 않음
		function poEditOpenWindows(){
			
			if(gridCheck.length <= 0){
				
				Swal.fire({
				  icon: "warning",
				  title: "선택된 항목이 없습니다.",
				});
				
				return;
			}
			
			let gridCheckString = JSON.stringify(gridCheck);
			window.open("/purchases/poeditform?gridCheck="+encodeURIComponent(gridCheckString), "_blank", "toolbar=no, menubar=no, status=no, width=1100, height=650, resizable=no")	
		};
		
		//===================================== jQuery 시작 ===============================================
		$(document).ready(function(){
						
			//수정 버튼을 눌렀을 때 "현재 수정 모드"
			//검색 버튼을 눌렀을 때 "현재 검색 모드"	로 변경하는 코드
			//<button type="button" class="completeBtn" onclick="location.reload()">✏️ 수정</button>
				       // <button type="button" class="searchBtn" id="searchBtn">🔍 검색</button>
			$("#completeBtn").on('click', function(){
				
				$("#completeBtn").text("✏️현재 수정 모드")
				$("#searchBtn").text("🔍 검색")
			});
			
			$("#searchBtn").on('click', function(){
				$("#completeBtn").text("✏️ 수정")
				$("#searchBtn").text("🔍현재 검색 모드")
			});
						
						
			//제품명 가져오기
			$("#mtlCode").change(function(){
				let mtlValue = $("#mtlCode").val();

				$.ajax({
		           url: "/purchases/getMtlName", 
		           type: "GET",       
		           //contentType: "application/json", // GET방식일 때 삭제
		           //data: JSON.stringify(cltValue), // POST방식일 때 stringify 실행
				   data: {mtlCode: mtlValue}, //GET방식 일 때 사용
		           success: function(response) {
		        	  
						$("#mtlName").val(response);
		           },
		           error: function(error) {
		               alert(error);
		           }
		       });
			});
			
			//거래처명 가져오기
			$("#cltCode").change(function(){
				let cltValue = $("#cltCode").val();
				
				$.ajax({
		           url: "/purchases/getCltName", 
		           type: "GET",       
				   data: {cltCode: cltValue},
		           success: function(response) {
						$("#cltName").val(response);
		           },
		           error: function(error) {
		               alert(error);
		           }
		       });
			});
			
			//검색 버튼 클릭시
			$("#searchBtn").on('click', function(){
				
				let data = {
					poCode: $("#poCode").val(),
					poNo: $("#poNo").val(),
					mtlCode: $("#mtlCode").val(),
					cltCode: $("#cltCode").val(),
					poStatus: $("#poStatus").val(),
					dateType: $("#dateType").val(),
					startDate: $("#startDate").val(),
					endDate: $("#endDate").val(),
				}
				/*
				cltCode:"CLT006"
				dateType:"poDate"
				endDate:"2025-04-23"
				mtlCode:"MTL001"
				poCode:"PO-20250408-001"
				poNo:"23"
				poStatus:"PO_APPROVED"
				startDate:"2025-04-04"
				*/
								
				var s = $("#poNo").val();
				console.log("----------------poNo:"+ s);
				console.log(data);
				
				//서버로 검색할 데이터 전송
				$.ajax({
					url: "/purchases/searchForm",
					type: "GET",
					//contentType: "application/json",
					//data: JSON.stringify(data),
					data: data,
					success: function(response){
						//console.log(/*[[${response}]]*/ [])
	
						grid.resetData(response);
						console.log('서버로 검색할 데이터 전송',response);
						
						grid.rowHeaders
						grid.setColumns([
						{
							header: '수주번호',
							name: 'PO_NO',
							width: 100,
							//fontSize: '40',
							sortable: true, 
							filter: 'text',
							align: "center" 
			            },
			            {
			                header: '수주코드',
			                name: 'PO_CODE',
							width: 200,
							//fontSize: '50',
							sortable: true, 
							filter: 'text',
							align: "center" 
			            },
						{
			                header: '발주일자',
			                name: 'PO_DATE',
							width: 200,
							//fontSize: '50',
							sortable: true, 
							filter: 'text',
							align: 'center',
			            },
						{
			                header: '입고일자',
			                name: 'MTL_RCV_DATE',
							width: 200,
							//fontSize: '50',
							sortable: true, 
							filter: 'text',
							align: 'center',
			            },
			            {
							header: '사원명',
			                name: 'EMP_NAME',
							width: 200,
							//fontSize: '80',
							sortable: true, 
							filter: 'text',
							align: 'center',
			            },
						{
			                header: '원자재명',
			                name: 'MTL_NAME', 
							width: 200,
							sortable: true, 
							filter: 'text',
							align: 'center',
							
			            },
						{
			                header: '거래처명',
			                name: 'CLT_NAME',
							width: 200,
							sortable: true, 
							filter: 'text',
							align: 'center',
			            },
			            {
			                header: '수량',
			                name: 'PO_QTY',
							width: 100,
							sortable: true, 
							filter: 'text',
							align: "center",
			            },
			            {
			                header: '입고 단가',
			                name: 'MTL_RCV_PRICE',
							width: 150,
							sortable: true, 
							filter: 'text',
							align: 'center',
			            },
						{
							header: '진행상태',
							name: 'STATUS_NAME', //salesOrder의 entity에 있는 soStatus
							width: 200,
							sortable: true, 
							filter: 'text',
							align: 'center',
			            },
						])//grid.setColumns
					},
					error: function(error){
						alert("error msg:" + err)
					}
				});
			
			});
		})
			
	</script>
	</div> <!-- 여기 안에 있어야 modal, grid, script, jQuery 전부 작동 한다. 이 div는  <div layout:fragment="content"> fragment="content"이다 -->

	<th:block layout:fragment="script">
	
	</th:block>
</body>

</html>