<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}"> 
	<head>
		<link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">
	    
	    <!-- 기본 메타 정보 -->
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>수주 등록</title>
    
    <title>Cmt</title>
	<style>
		container {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
		}
		
	</style>
</head>
<body>

    <div layout:fragment="content">
        
        <h3>수주 등록</h3>
        
		
    </div>
   	
	<th:block layout:fragment="script">
	    
	</th:block>
</body>

</html>