<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<!-- date-picker -->
		<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css">
		<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
			
		<!-- toast 부트스트랩 기본 -->
		<link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.min.css">
		<script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.min.js"></script>
	
	    <title>수주 등록</title>
    
    <title>CMT</title>
	
</head>
<body>
	
    <div layout:fragment="content">
   		<div id="gridTop"></div>
    </div>
   	
	<!-- 그리드 시작-->
    <script th:inline="javascript">
	
	document.addEventListener("DOMContentLoaded", function () {
		
		let grid;
		
		//모든 컬럼 함깨 표시
		let soEditorSelected = /*[[${soEditorSelected}]]*/ [];
		let cltList = /*[[${cltList}]]*/ [];
		let empList = /*[[${empList}]]*/ [];
		let productList = /*[[${productList}]]*/ [];
		let soStatusList = /*[[${soStatusList}]]*/ [];
		
		//2개의 컬럼으로 label과 value를 맞춘다
		let cltListSelected = cltList.map(item => ({lable: item.cltName, value: item.cltCode}));
		let empListSelected = empList.map(item => ({label: item.empNo, value: item.empName}));
		let productListSelected = productList.map(item => ({label: item.pdtName, value: item.pdtCode}))
		let soStatusListSelected = soStatusList.map(item => ({label: item.statusName, value: item.statusCode}))
		
		/*console.log(cltListSelected)
		console.log(empListSelected);
		console.log(productListSelected)
		console.log(soStatusListSelected);*/
		
		/*console.log(soEditorSelected);
		console.log(cltList);
		console.log(empList);
		console.log(productList);
		console.log(soStatusList);*/
		
        if (!grid) { // 중복 생성 방지
            grid = new tui.Grid({
                el: document.getElementById('gridTop'),
				data : soEditorSelected,
                scrollX: true,
                scrollY: true,
				width: 1300, 
				bodyHeight: 550, 
				columns: [
					{
						header: '수주번호',
						name: 'soNo',
						sortable: true, 
						filter: 'text',
						width: 100,
						align: 'center'
		            },
		            {
		                header: '수주코드',
		                name: 'soCode',
						sortable: true, 
						filter: 'text',
						width: 140,
						align: 'center' 
		            },
					{
		                header: '수주일자',
		                name: 'soDate',
						filter: 'text',
						width: 200,
						align: 'center',
						editor: {
				           type: 'datePicker',
				           options: {
				             format: 'yyyy-MM-dd',  
				             language: 'ko'
				           }
				         }
		            },
					{
		                header: '발주일자',
		                name: 'shipDate',
						filter: 'text',
						width: 200,
						align: 'center',
						editor: {  
			                type: 'datePicker', 
			                options: {  
			                    format: 'yyyy-MM-dd',  
								language: 'ko'
			                }  
			            }
		            },
		            {
		                header: '사원이름',
		                name: 'empNo',
						width: 150,
						align: 'center',
						editor: {
							type: 'select',
							options: {
								listItems: empListSelected
							}
						},
						formatter: ({ row }) => `${row.empName} (${row.empNo})`
		            },
		            {
		                header: '제품명',
		                name: 'pdtName',
						sortable: true, 
						filter: 'text',
						width: 150,
						align: 'center',
						editor: 'text'
						
		            },
					{
		                header: '거래처명',
		                name: 'cltName',
						sortable: true, 
						filter: 'text',
						width: 150,
						align: 'center',
						editor: 'text' 
		            },
		            {
		                header: '수량',
		                name: 'soQuantity',
						sortable: true, 
						filter: 'text',
						width: 40,
						align: 'center',
						editor: 'text'
		            },
		            {
		                header: '단가',
		                name: 'pdtShippingPrice',
						sortable: true, 
						filter: 'text',
						width: 80,
						align: 'center',
						editor: 'text'
		            },
					{
						header: '현재상태',
						name: 'statusName',
						sortable: true, 
						filter: 'text',
						width: 100,
						align: 'center',
						editor: 'text'
					}
                ],
				autoEdit: true,
				editingEvent: 'click' 
            });
			
        }//if (!grid) 

	}); //document.addEventListener("DOMContentLoaded", function () {
	
    </script>
	<!-- 그리드 끝-->
	
	<th:block layout:fragment="script">
		<script src="https://code.jquery.com/jquery.min.js"></script>
	    <script>
    	
	    </script>
	</th:block>
</body>

</html>


