<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper.java 경로로 클래스명 ProductMapper까지 입력@@@@@@@@@@@@ --> 
<mapper namespace="com.example.cmtProject.mapper.mes.standardInfoMgt.ProductMapper">
	
	<!-- resultType은 application.yml의 type-aliases-package경로의 entity  -->
	<!-- 전체 조회 -->
    <select id="list" resultType="Product">
        SELECT *
        FROM PRODUCTS
    </select>
	
	<!-- 선택 조회 -->
    <select id="select" resultType="Product">
        SELECT *
        FROM PRODUCTS
        WHERE PDT_CODE = #{pdtCode}
    </select>
    
	<!-- 등록 -->
    <insert id="insert">
        INSERT INTO PRODUCTS(PDT_CODE, PDT_NAME, PDT_SPECIFICATION, PDT_SHIPPING_PRICE) 
        VALUES(#{pdtCode},#{pdtName},#{pdtSpecification},#{pdtShippingPrice});
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE PRODUCTS
           SET PDT_CODE = #{pdtCode}
              ,PDT_NAME = #{pdtName}
        WHERE PDT_CODE = #{pdtCode}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM PRODUCTS
        WHERE PDT_CODE = #{pdtCode}
    </delete>
</mapper>