<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper.java 경로로 클래스명 ProductMapper까지 입력 --> 
<mapper namespace="com.example.cmtProject.mapper.mes.production.LotMapper">
	<!-- LOTNO의 최대값 -->
	<select id="getLotNo" resultType="int">
		SELECT MAX(NVL(LOT_NO,0)) FROM LOT
	</select>
	
</mapper>