<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ProductMapper.java 경로로 클래스명 ProductMapper까지 입력@@@@@@@@@@@@ --> 
<mapper namespace="com.example.cmtProject.mapper.erp.employees.EmployeesMapper">
    
	<!-- 사원 리스트 전체 조회 -->
    <select id="selectEmplist" resultType="com.example.cmtProject.dto.erp.employees.EmpListPreviewDTO">
		SELECT EMP.EMP_NO,
		       EMP.EMP_ID,
		       EMP.EMP_NAME,
		       D.CMN_DETAIL_NAME AS DEPT_NAME,
			   P.CMN_DETAIL_NAME  AS DEPT_POSITION,
		       EMP.EMP_START_DATE
		FROM EMPLOYEES EMP
		LEFT JOIN COMMONCODE_DETAIL D ON TO_CHAR(EMP.DEPT_NO) = D.CMN_DETAIL_CODE
		LEFT JOIN COMMONCODE_DETAIL P ON TO_CHAR(EMP.POSITION_NO) = P.CMN_DETAIL_CODE
		ORDER BY EMP_NO ASC
    </select>
    
	<!-- 검색 필터링 -->
   <select id="selectDept" resultType="com.example.cmtProject.dto.erp.employees.searchEmpDTO">
	    SELECT 
	        E.EMP_NO AS empNo,
	       	E.EMP_ID AS empId,
	        E.EMP_NAME AS empName, 
	        D.CMN_DETAIL_NAME AS deptName,
	        P.CMN_DETAIL_NAME AS deptPosition,
	        E.EMP_START_DATE AS empStartDate 
	    FROM EMPLOYEES E
	    JOIN COMMONCODE_DETAIL D ON TO_CHAR(E.DEPT_NO) = D.CMN_DETAIL_CODE
	    JOIN COMMONCODE_DETAIL P ON TO_CHAR(E.POSITION_NO) = P.CMN_DETAIL_CODE
	    <where>
	        <if test="dept != null and dept != ''">
	            AND D.CMN_DETAIL_CODE = #{dept}
	        </if>
	         <if test="empId != null and empId != ''">
	            AND E.EMP_ID LIKE '%' || #{empId} || '%'
	        </if>
	        <if test="empName != null and empName != ''">
	            AND E.EMP_NAME LIKE '%' || #{empName} || '%'
	        </if>
	        <if test="startDate != null and endDate != null">
	            AND E.EMP_START_DATE BETWEEN #{startDate} AND #{endDate}
	        </if>
	    </where>
	   
	</select>
	
	<!-- 사원 추가 -->
	<insert id="insertEmp" parameterType="com.example.cmtProject.dto.erp.employees.EmpRegistDTO">
	
	    INSERT INTO EMPLOYEES (
	        EMP_ID,
	        EMP_LEVEL,
	        EMP_PASSWORD,
	        EMP_NAME,
	        EMP_PROFILE,
	        EMP_BIRTHDAY,
	        EMP_EMAIL,
	        EMP_GENDER,
	        DEPT_NO,
	        POSITION_NO,
	        EMP_PHONE,
	        EMP_POST_CODE,
	        EMP_ADDRESS1,
	        EMP_ADDRESS2,
	        EMP_START_DATE,
	        EMP_MARITAL_STATUS,
	        EMP_STATUS,
	        EMP_TYPE,
	        EMP_EDUCATION_LEVEL,
	        EMP_PARKING_STATUS,
	        EMP_CAR_NUMBER,
	        SAL_NO
	    ) VALUES (
	        #{empId},
	        #{empLevel},
	        #{empPassword},
	        #{empName},
<!-- 	        #{empProfile}, -->
	        NULL,
	        <choose>
	            <when test="empStartDate != null">
	                #{empBirthday}
	            </when>
	            <otherwise>
	                SYSDATE
	            </otherwise>
	        </choose>,
	        #{empEmail},
	        #{empGender},
	        #{deptNo},
	        #{positionNo},
	        #{empPhone},
	        #{empPostCode},
	        #{empAddress1},
	        #{empAddress2},
	       <choose>
	            <when test="empStartDate != null">
	                #{empStartDate}
	            </when>
	            <otherwise>
	                SYSDATE
	            </otherwise>
	        </choose>,
	        #{empMaritalStatus},
	        #{empStatus},
	        #{empType},
	        #{empEducationLevel},
	        #{empParkingStatus},
	        #{empCarNumber},
	        #{salNo}
	    )
	    
	</insert>
	
	<!-- 나의 사원정보 수정 -->
	<update id="updateEmp" parameterType="com.example.cmtProject.dto.erp.employees.EmpRegistDTO">
	    UPDATE EMPLOYEES
	    SET 
	        EMP_LEVEL = #{empLevel},
	        EMP_PHONE = #{empPhone},
	        EMP_EMAIL = #{empEmail},
	        EMP_GENDER = #{empGender, jdbcType=VARCHAR},
	        DEPT_NO = #{deptNo, jdbcType=NUMERIC},
	        POSITION_NO = #{positionNo, jdbcType=NUMERIC},
	        EMP_POST_CODE = #{empPostCode},
	        EMP_ADDRESS1 = #{empAddress1},
	        EMP_ADDRESS2 = #{empAddress2},
	        EMP_START_DATE = #{empStartDate, jdbcType=DATE},
	        EMP_MARITAL_STATUS = #{empMaritalStatus},
	        EMP_STATUS = #{empStatus},
	        EMP_TYPE = #{empType},
	        EMP_EDUCATION_LEVEL = #{empEducationLevel},
	        EMP_PARKING_STATUS = #{empParkingStatus},
	        EMP_CAR_NUMBER = #{empCarNumber},
	        EMP_PROFILE = #{empProfile, jdbcType=VARCHAR}
	    WHERE EMP_ID = #{empId}
	</update>
	
	<!-- 리스트에서 사원조회 -->
	
	<select id="selectEmpDetail" resultType="com.example.cmtProject.dto.erp.employees.EmpRegistDTO">
		 SELECT 
	        E.EMP_NO              AS empNo,
	        E.EMP_LEVEL           AS empLevel,
	        E.EMP_NAME            AS empName,
	        E.EMP_ID              AS empId,
	        E.EMP_PASSWORD        AS empPassword,
<!-- 	        D.CMN_DETAIL_NAME     AS deptName, -->
	        E.EMP_PROFILE         AS empProfile,
<!-- 	        TO_CHAR(E.EMP_BIRTHDAY, 'YYYY-MM-DD') AS empBirthday, -->
	        E.EMP_EMAIL           AS empEmail,
	        E.EMP_GENDER          AS empGender,
	        E.DEPT_NO             AS deptNo,
	        E.POSITION_NO         AS positionNo,
	        E.EMP_PHONE           AS empPhone,
	        E.EMP_POST_CODE       AS empPostCode,
	        E.EMP_ADDRESS1        AS empAddress1,
	        E.EMP_ADDRESS2        AS empAddress2,
	        E.EMP_START_DATE      AS empStartDate,
	        E.EMP_END_DATE        AS empEndDate,
	        E.EMP_END_REASON      AS empEndReason,
	        E.EMPLOYMENT_TYPE     AS employmentType,
	        E.EMP_TYPE            AS empType,
	        E.EMP_STATUS          AS empStatus,
	        E.EMP_EDUCATION_LEVEL AS empEducationLevel,
	        E.EMP_GRADE           AS empGrade,
	        E.EMP_MARITAL_STATUS  AS empMaritalStatus,
	        E.SAL_NO              AS salNo,
	        E.EMP_APPOINTMENT_TYPE AS empAppointmentType,
	        E.EMP_PARKING_STATUS  AS empParkingStatus,
	        E.EMP_CAR_NUMBER      AS empCarNumber
	    FROM EMPLOYEES E
<!-- 	    LEFT JOIN COMMONCODE_DETAIL D -->
<!-- 	       ON E.DEPT_NO = TO_NUMBER(D.CMN_DETAIL_CODE) -->
	    WHERE E.EMP_ID = #{id}
	</select>
	
</mapper>