<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    > 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
		<!-- 부트스트랩 모달 css -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		
		<!-- 부트스트랩 모달 js -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
		<!-- 토스트캘린더 css -->
		<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
		
		
		<!-- 그리드 -->
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
		
</head>
<body>
 <div layout:fragment="content">
        <!-- 페이지 내용 작성 영역 시작 -->
        
        
        <!-- 
            여기에 페이지별 HTML 코드를 작성하세요.
            사이드바와 메뉴는 레이아웃에서 자동으로 포함됩니다.
        -->
        
        <div class="card">
        <h3>인사카드 조회</h3>
            <div class="card-header">
            </div>
            <div class="card-body">
<!--                 <p>이 영역에 페이지의 주요 내용을 작성하세요.</p> -->
                <!-- 표 예시 -->
                <div class="table-responsive">
					<form th:action="@{/emp/empUpdate/{id}(id=${emp.empId})}" th:object="${emp}" id="empDetail" name="empDetail" method="post" enctype="multipart/form-data">
						                <div class="body">
											<label for="empProfileFile">프로필사진</label>
											<div class="form-group">
											
											    <div id="preview_profile">
											        <img th:if="${emp.empProfile != null}" th:src="@{'/images/' + ${emp.empProfile}}" class="profile-thumb" alt="profile" height="100px">
											        <img th:if="${emp.empProfile == null}" th:src="@{/imagess/profile_preview.png}" class="profile-thumb" alt="profile" height="100px">
											    </div>
											</div>
												<input type="file" name="empProfileFile"  id="empProfileFile" accept="image/*" class="form-control" multiple>
						                    </div>
						                	<label for="empLevel">사원권한</label>
						                    <div class="form-group" >
						                       <select id="empLevel" class="form-select" name="empLevel" th:field="*{empLevel}">
							                       		<th:block th:each="code : ${commonCodeMap['USER_ROLE']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empName">이름</label>
						                    <div class="form-group">
												<input type="text" id="empName" class="form-control" name="empName" th:field="*{empName}">
						                    </div>
						                    <label for="empId">사원 번호</label>
						                    <div class="form-group">
						                    	<input type="hidden" name="empId" th:value="${emp.empId}">
						                        <input type="text" id="empId" name="empId" class="form-control" th:value="*{empId}">
						                    </div>
						                    <label for="deptNo">부서</label>
												<select id="deptNo" name="deptNo" class="form-select" th:field="*{deptNo}">
													<th:block th:each="code : ${commonCodeMap['DEPT']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    <label for="positionNo">직급</label>
						                    <div class="form-group" >
						                       <select id="positionNo" name="positionNo" class="form-select" th:field="*{positionNo}" >
							                       	<th:block th:each="code : ${commonCodeMap['POSITION']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empPhone">전화번호</label>
						                    <div class="form-group">
						                        <input type="text" id="empPhone" name="empPhone" class="form-control" th:value="*{empPhone}">
						                    </div>
						                    <label for="empEmail">이메일</label>
						                    <div class="form-group">
						                        <input type="text" id="empEmail" name="empEmail" class="form-control" th:value="*{empEmail}">
						                    </div>
						                    
											
											<label for="empStartDate">생년월일</label>
										    <div style="position: relative;">
										      <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
										        <input type="text" id="empBirthday" aria-label="empBirthday" th:field="*{empBirthday}">
										        <span class="tui-ico-date"></span>
										      </div>
										      <div id="birthDayDateWrapper" style="margin-top: -1px; position: relative; z-index: 1000;"></div>
										    </div>
										    <br>
											<label for="empStartDate">입사일</label>
										    <div style="position: relative;">
										      <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
										        <input type="text" id="empStartDate" aria-label="empStartDate" th:field="*{empStartDate}">
										        <span class="tui-ico-date"></span>
										      </div>
										      <div id="startDateWrapper" style="margin-top: -1px; position: relative; z-index: 1000;"></div>
										    </div>
							
							
							  
										<!-- TOAST UI DatePicker 스크립트 -->
											<script src="https://uicdn.toast.com/tui.date-picker/latest/i18n/ko.js"></script>
											<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
											<script type="text/javascript">
											  // 입사일 DatePicker
											  const startPicker = new tui.DatePicker('#startDateWrapper', {
												language: 'ko',  
											    date: new Date(),
											    input: {
											      element: '#empStartDate',
											      format: 'yyyy-MM-dd'
											    }
											  });
											
											  // 생년월일 DatePicker
											  const endPicker = new tui.DatePicker('#birthDayDateWrapper', {
												language: 'ko',  
											    date: new Date(),
											    input: {
											      element: '#empBirthday',
											      format: 'yyyy-MM-dd'
											    }
											  });
											  
											</script>
						                    <label for="empGender">성별</label>
						                    <div class="form-group" >
						                      <select id="empGender" name="empGender" class="form-select" th:field="*{empGender}">
												    <th:block th:each="code : ${commonCodeMap['GENDER']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empAddress1">주소</label>
											<div>
												<input type="text" id="empAddress1" name="empAddress1" class="form-control" size="25" th:value="*{empAddress1}">
												<input type="button" value="주소검색" onclick="search_address()" class="btn btn-primary btnAddress"><br>
											</div>
											<div>
												<input type="text" id="empAddress2" name="empAddress2" class="form-control" size="25" th:value="*{empAddress2}">
												<input type="text" id="empPostCode" name="empPostCode" class="form-control" size="6" th:value="*{empPostCode}" readonly><br>
											</div>
						                    <label for="empMaritalStatus">결혼여부</label>
						                   <div class="form-group" >
						                       <select id="empMaritalStatus" name="empMaritalStatus" class="form-select" th:field="*{empMaritalStatus}">
							                       	<th:block th:each="code : ${commonCodeMap['MARITAL']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    
						                    <hr>
						                    
						                    <label for="empStatus">재직상태</label>
						                    <div class="form-group" >
						                       <select id="empStatus" name="empStatus" class="form-select" th:field="*{empStatus}">
							                       	<th:block th:each="code : ${commonCodeMap['EMP_STATUS']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empType">고용유형</label>
						                   <div class="form-group" >
						                       <select id="empType" name="empType" class="form-select" th:field="*{empType}">
							                       	<th:block th:each="code : ${commonCodeMap['EMP_TYPE']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empEducationLevel">학력</label>
						                   <div class="form-group" >
						                       <select id="empEducationLevel" name="empEducationLevel" class="form-select" th:field="*{empEducationLevel}">
							                       	<th:block th:each="code : ${commonCodeMap['EDUCATION']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empParkingStatus">주차등록</label>
						                    <div class="form-group" >
						                       <select id="empParkingStatus" name="empParkingStatus" class="form-select"  th:field="*{empParkingStatus}">
							                       	<th:block th:each="code : ${commonCodeMap['PARKING']}">
												        <option th:value="${code.cmnDetailCode}" th:text="${code.cmnDetailName}"></option>
												    </th:block>
												</select>
						                    </div>
						                    <label for="empCarNumber">차량번호</label>
						                    <div class="form-group">
						                        <input type="text" id="empCarNumber" name="empCarNumber" class="form-control" th:value="*{empCarNumber}">
						                    </div>
						                    
						                    <hr>
<!-- 						                    <label for="salNo">기본급(월급)</label> -->
<!-- 						                    <div class="form-group"> -->
<!-- 						                        <input type="text" id="salNo" name="salNo" class="form-control" placeholder=""> -->
<!-- 						                    </div> -->
											<label for="salBankName">은행</label>
						                    <div class="form-group">
						                        <input type="text" id="salBankName" name="salBankName" class="form-control" th:value="${emp.salBankName}">
						                    </div>
						                    <label for="salBankAccount">계좌번호</label>
						                    <div class="form-group">
						                        <input type="text" id="salBankAccount" name="salBankAccount" class="form-control" th:value="${emp.salBankAccount}">
						                    </div>						                    
						                <div class="modal-footer">
<!-- 						                    <button type="submit" id="btnDetailUpdate" name ="btnUpdate" class="btn btn-primary">수정</button> -->
						                    <button type="button" id="btnDetailUpdate" name ="btnUpdate" class="btn btn-primary" onclick="empDetail_view()">수정</button>
						                </div>
						            </form>	
						        </div> <!-- form body -->
				</div>
                </div>
        
        <!-- 페이지 내용 작성 영역 끝 -->
 </div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script type="text/javascript">
            /* 
             * 페이지별 JavaScript 코드 작성 영역
             * - TOAST UI 초기화
             * - 이벤트 핸들러
             * - Ajax 요청
             * - 기타 페이지별 로직
             */
             	function empDetail_view(){
            	        console.log("수정버튼 클릭댐");
            	        
            	        const id = $("input[name='empId']").val();
            	        const form = document.getElementById("empDetail");
            	        const formData = new FormData(form);
            	        formData.append("empProfileFile", $("input[name='empProfileFile']")[0].files[0]);
            	        $.ajax({
            	            url: `/emp/empUpdate/${id}`,
            	            method: "POST",
            	            data: formData,
            	            processData: false,
            	            contentType: false,
            	            success: function(response) {
                   	        	Swal.fire({
               				        title: '수정 하시겠습니까?',
               				        icon: 'warning',
               				        showCancelButton: true,   
               				        confirmButtonColor: '#435ebe',   
               				        cancelButtonColor: '#f27474',       
               				        confirmButtonText: '네',         
               				        cancelButtonText: '아니오'       
		                   	         }).then((result) => {
		         	        	        if (result.isConfirmed) {
		         	        	            Swal.fire({
		         	        	                title: '수정이 완료되었습니다!',
		         	        	                icon: 'success'
		         	        	            }).then(() => {
		         	        	                location.reload();
		         	        	            });
		         	        	        }
		         	        	    });
		         	        	},
            	            error: function(error) {
            	                alert("정보 수정 실패ㅠㅠ");
            	            }
            	        });
            }
            
             	//프로필사진 미리보기
     			$(function () {
//      			  $("#empProfile").on("change", function (e) {
     			  $("#empProfileFile").on("change", function (e) {
     			    let files = e.target.files;
     			    let imageFiles = Array.from(files).filter(file => file.type.startsWith("image/"));
     			
     			    if (imageFiles.length > 1) {
     			      alert("프로필 사진은 1장만 업로드 가능합니다.");
     			      imageFiles = imageFiles.slice(0, 1);
     			    }
     			
     			    $("#preview_profile").html("");
     			
     			    imageFiles.forEach(file => {
     			      let reader = new FileReader();
     			      reader.onload = function (event) {
     			        let img = $("<img>")
     			          .attr("src", event.target.result)
     			          .attr("height", "100px")
     			          .addClass("profile-thumb");
     			
     			        $("#preview_profile").append(img);
     			      };
     			      reader.readAsDataURL(file);
     			    });
     			  });
     			});

        </script>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="text/javascript">
			function search_address() {
				new daum.Postcode({
					oncomplete : function(data) {
						console.log(data);
						document.empDetail.empPostCode.value = data.zonecode;
	
						let address = data.address;
						if (data.buildingName != "") {
							address += " (" + data.buildingName + ")";
						}
	
						document.empDetail.empAddress1.value = address;
						document.empDetail.empAddress2.focus();
					}
				}).open();
			}
		</script>
</body>
</html>