<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
	<title>CMT</title>
</head>
<body>
	<div layout:fragment="content">
	<h4>생산 이력</h4>
	
	<div class="card">
		<div class="card-body">
	    	<div class="row g-3 mb-4">
	            <div class="col-md-3">	
	                <input type="text" class="form-control" placeholder="생산계획번호를 입력해주세요.">
	            </div>
	            <div class="col-md-2 d-flex align-items-end">
	            	<button type="button" class="btn btn-outline-secondary">
		            	<i class="bi bi-search"></i>
		            </button>
	            </div>
	    	</div>
	    </div>
	    	
		<div id="mfgHistoryGrid"></div>
	</div>
	
		<!--  모달 창 시작 -->
	<div class="modal fade" id="mfgHistoriesModal" tabindex="-1" aria-labelledby="mfgHistoriesModal" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="mfgHistoriesModalLabel">생산 이력</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	            	<div id="soGrid"></div>
				</div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                <button type="button" id="mfgPlanRegiBtn" class="btn btn-primary">등록</button>
		        </div>
	        </div> <!-- modal-content -->
	    </div><!-- modal-dialog modal-lg -->
	</div><!-- modal -->
	<!-- 모달 끝 -->
	
	<script th:inline="javascript">
	
	//================================== 그리드 상단 상품 부분 ================================= 
	let gridData = /*[[${mfgScheduleList}]]*/ [];
	
	let grid = new tui.Grid({
        el: document.getElementById('mfgHistoryGrid'), 
		data: gridData,
        rowHeaders: ['checkbox'],
		scrollX: true,
        scrollY: true,
		pageOptions: {
		   useClient: true,   // 클라이언트 사이드 페이징 사용
		   perPage: 10        // 페이지당 행 수
		 },
        columns: [
           {
                header: '생산계획코드',
                name: 'mpCode',
				width: 250,
				sortable: true, 
				filter: 'text',
				align: "center" 
            },
			{
                header: '제품명',
                name: 'pdtName',
				width: 500,
				sortable: true, 
				filter: 'text',
				align: "center",
				editor: "text"
            },
            {
				header: '상태',
                name: 'mpStatus',
				width: 250,
				sortable: true, 
				filter: 'text',
				align: 'center',
				editor: "text"
            },
			{
                header: '생산 시작일',
                name: 'mpStartDate', 
				width: 250,
				sortable: true, 
				filter: 'text',
				align: 'center',
				editor: "text"
            },
			{
                header: '생산 완료일',
                name: 'mpEnddate',
				width: 250,
				sortable: true, 
				filter: 'text',
				align: 'center',
				editor: "text"
            }
        ], // 열 설정
		autoEdit: true,
		editingEvent: 'dblclick' 
    });
		
	/*
	grid.on('onGridUpdated', (ev) => {
		// 그리드 레이아웃 새로고침 (로드가 다 되지 않는 경우 그리드가 흰색 화면으로 출력될 때가 있다.)
	    grid.refreshLayout();
	});*/
	
	
	</script>
	
	</div>
</body>
</html>