<!DOCTYPE html>
<!-- Thymeleaf 및 레이아웃 선언 - 레이아웃 구조를 사용하기 위한 필수 선언 -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">
<head>
<!-- 기본 메타 정보 -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CMT</title>
<style>

	.container {
		display: grid;
		grid-template-columns:  120px 180px 120px 180px 120px 180px 50px 180px 150px 1fr;
	    gap: 3px;
	    background: #f5f5f5;
	    padding: 4px;
	    border-radius: 5px;
		border : 1px solid black;
		text-align: center;
		max-width: 100vw;
	}
	
	.container input, .container select {
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
	 
	.button-container {
		display: flex;
		gap: 5px;
		margin: 10px;
		justify-content: space-between;
	}
		
	button {
		padding: 5px 10px;
	    border: none;
	    cursor: pointer;
	    border-radius: 3px;
	}
	
	.btnSearch { background:dodgerblue; color: white; }
	.calculate { background:dodgerblue; color: white; }
	.print { background: purple; color: white; }
	.transfer { background: green; color: white; }
	.delete { background: red; color: white; }

</style>
</head>
<body>
	<!-- 
        중요: layout:fragment="content"는 레이아웃 템플릿에 실제 페이지 내용이 삽입될 위치를 지정합니다.
        이 부분 안에 페이지별 HTML 내용을 작성하세요.
    -->
	<div layout:fragment="content">

		<div class="button-container">
			<div>
				<h2>급여 조회</h2>
			</div>
			<div>
				<button class="calculate" data-bs-toggle="modal"
					data-bs-target="#payCalcModal">📃 급여 계산기</button>
				<button class="print">✏️ 명세서 출력</button>
				<button class="transfer" data-bs-toggle="modal"
					data-bs-target="#payTransferModal">❓ 급여 이체</button>
			</div>
		</div>

		<form action="@{/salaries/searchPayList}" method="get" th:object="${paySearchDTO}">
			<div class="container">
				<label class="deptLabel">부서</label> <select class="form-select"
					id="dept" name="dept">
					<option th:each="dept : ${deptList}"
						th:value="${dept.cmnDetailCode}" th:text="${dept.cmnDetailName}"></option>
				</select> <label class="emp-Label">이름</label> <input type="text" class=""
					id="empName" maxlength="9" th:field="*{empName}"> <label
					class="payLabel">지급일</label> <input type="date" id="minDate"
					th:field="*{minDate}">~ <input type="date" id="maxDate"
					th:field="*{maxDate}">
				<button type="submit" class="btnSearch">🔍 검색</button>
				<span></span>
			</div>
		</form>

		<br>

		<!-- 그리드 top 시작 -->
		<div id="gridTop"></div>

		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script th:inline="javascript">
	    
	    const grid = new tui.Grid({
	        el: document.getElementById('gridTop'), 
			data : /*[[${payList}]]*/ [],
	        rowHeaders: ['checkbox'], 
	        columns: [
				{
	                header: '지급일',
	                name: 'payDate',
	            	sortable: true
	            },
	            {
	                header: '사원번호',
	                name: 'empNo',
	                sortable: true
	            },
	            {
	                header: '사원명',
	                name: 'empName',
	            },
	            {
	                header: '부서',
	                name: 'deptName', 
		            sortable: true
	            },
	            {
	                header: '직급',
	                name: 'position', 
	            	sortable: true
	            },
	            {
	                header: '고용유형',
	                name: 'empType'
	            },
	            {
	                header: '기본급',
	                name: 'payBasic'
	            },
	            {
	                header: '야근수당',
	                name: 'payBonusOvertime'
	            },
	            {
	                header: '명절수당',
	                name: 'payBonusHoliday'
	            },
	            {
	                header: '총수당금액',
	                name: 'payBonusTotal'
	            },
	            {
	                header: '국민연금',
	                name: 'payTaxPension'
	            },
	            {
	                header: '건강보험',
	                name: 'payTaxHealth'
	            },
	            {
	                header: '장기요양보험',
	                name: 'payTaxCare'
	            },
	            {
	                header: '고용보험',
	                name: 'payTaxEmployment'
	            },
	            {
	                header: '소득세',
	                name: 'payTaxIncome'
	            },
	            {
	                header: '주민세',
	                name: 'payTaxResidence'
	            },
	            {
	                header: '총공제금액',
	                name: 'payTaxTotal'
	            },
	            {
	                header: '실수령액',
	                name: 'payTotal'
	            },
	            {
	                header: '지급상태',
	                name: 'payStatus',
	                sortable: true
	            }
	        ] // 열 설정
	    });
	    
	 	// 체크박스 클릭 시 이벤트 추가
	    grid.on('check', (checkItem) => {
	        console.log("체크 확인");
	    });

	    // 체크 해제 시 이벤트 추가
	    grid.on('uncheck', (checkItem) => {
	    	console.log("체크 해제 확인");
	    });

	    </script>
		<!-- 그리드 끝 -->


		<!-- 급여 계산기 모달 -->
		<div class="modal fade" id="payCalcModal" tabindex="-1"
			aria-labelledby="payCalcModal" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="payCalcModal">급여 계산기</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<label for="pay">급여</label>
						<div class="input-group mb-2">
							<input type="text" id="pay" class="form-control"
								placeholder="급여 입력"> <span class="input-group-text">원</span>
							<button type="button" class="btn btn-secondary ms-2"
								onclick="simulatePay()">계산하기</button>
						</div>
						<label for="payList"></label>
						<h6 class="text-primary mb-3">지급항목</h6>
						<div class="row mb-2">
							<div class="col-6">급여</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<h6 class="text-primary mb-3">공제항목</h6>
						<div class="row mb-2">
							<div class="col-6">국민연금</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">건강보험</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">장기요양보험</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">고용보험</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">소득세</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">주민세</div>
							<div class="col-6 text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">총 공제액</div>
							<div class="col-6 text-danger text-end">원</div>
						</div>
						<label for="salItemCalc"></label>
						<div class="row mb-2">
							<div class="col-6">예상 실 수령액</div>
							<div class="col-6 text-danger text-end">원</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div><!-- 급여 계산기 모달 -->

		<!-- 급여 이체 모달 -->
		<div class="modal fade" id="payTransferModal" tabindex="-1"
			aria-labelledby="payTransferModal" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="payCalcModal">급여 이체</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="input-group mb-2">
							<input type="date" id="payDate" class="form-control">
						</div>
						<div class="input-group mb-2">
							<select class="form-select" id="dept" name="dept">
								<option th:each="dept : ${deptList}"
									th:value="${dept.cmnDetailCode}"
									th:text="${dept.cmnDetailName}"></option>
							</select>
  						<div class="input-group mb-2">
							<select class="form-select" id="position" name="position">
								<option th:each="code : ${commonCodeMap['POSITION']}"
									th:value="${code.cmnDetailCode}"
									th:text="${code.cmnDetailName}"></option>
							</select>
							<button type="submit" class="btn btn-secondary ms-2">조회</button>
						</div>
						<!-- 그리드 top 시작 -->
						<div id="gridTop2"></div>
						<!-- 그리드 끝 -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary"
								data-bs-dismiss="modal">이체</button>
						</div>
					</div>
				</div>
			</div>
		</div><!-- 급여 이체 모달 -->
	</div>
</div>	
	<!-- 
        페이지별 JavaScript 추가 영역.
        여기에 페이지에서 사용할 스크립트를 작성하세요.
        공통 스크립트는 레이아웃에서 자동으로 포함됩니다.
    -->
	<th:block layout:fragment="script">
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script th:inline="javascript">
			$('#payTransferModal').on('shown.bs.modal', function () {

				const grid2 = new tui.Grid({
				el: document.getElementById('gridTop2'), 
				data : /*[[${empList}]]*/ [],
				rowHeaders: ['checkbox'], 
				columns: [
					{
						header: '사원번호',
						name: 'empNo'
					},
					{
						header: '사원명',
						name: 'empName',
					},
					{
						header: '부서',
						name: 'deptName', 
						sortable: true
					},
					{
						header: '직급',
						name: 'deptPosition', 
						sortable: true
					}	
				] // 열 설정
			});
	    				
			console.log("empList:", /*[[${empList}]]*/ []);
	    
			// 체크박스 클릭 시 이벤트 추가
			grid2.on('check', (checkItem) => {
				console.log("체크 확인");
			});

			// 체크 해제 시 이벤트 추가
			grid2.on('uncheck', (checkItem) => {
				console.log("체크 해제 확인");
			}); 
		});	
		</script>
	</th:block>
</body>
</html>
