<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div th:fragment="sidebar" >
		
		<div id="topbar" class="d-block row d-flex justify-content-between align-items-center" >
	        <div class="col-md-8 d-flex justify-content-start">
	        
		        <!-- 반응형 사이드바 메뉴 아이콘 -->
		        <div id="sidebar-burger" class="d-flex align-items-center mx-4">
		            <a href="#" class="burger-btn d-block d-xl-none d-flex align-items-center">
		                <i class="bi bi-justify fs-3 d-flex align-items-center"></i>
		            </a>
		        </div>
		        <div class="d-sm-none d-md-none d-lg-none d-xl-block" id="empty" ></div>
		        <!-- 날짜 -->
<!-- 	        	<div class="d-flex align-items-center">
	        		<h5 id="todayDate" class="me-3 " >날짜</h5>
	        		<button type="button" class="btn btn-primary" id="atndBtn" onclick="cmtBtn()">출근하기</button>
	        		
	        		data로 담아 갈 input
	        		<input type="hidden" id="cmtCd">
	        		<input type="hidden" id="cmtTime">
	        		<input type="hidden" id="deptCd">
					<input type="hidden" id="sttsCd">
					<input type="hidden" id="empNo">
					<input type="hidden" id="empId">
				</div>    -->   
			<div style="display: flex; justify-content: space-between; align-items: flex-start;">
			  <!-- 날짜 표시 영역 -->
			  <div style="margin-right: 20px;">
	        <div><h2 id="currentDate"></h2></div>
				 <script>
				  document.addEventListener("DOMContentLoaded", function () {
				    const now = new Date();
				
				    const year = now.getFullYear();
				    const month = String(now.getMonth() + 1).padStart(2, '0');
				    const day = String(now.getDate()).padStart(2, '0');
				
				    // 요일을 한글로 변환
				    const daysKor = ['일', '월', '화', '수', '목', '금', '토'];
				    const dayOfWeek = daysKor[now.getDay()];
				
				    const formatted = `${year}년 ${month}월 ${day}일 (${dayOfWeek})`;
				
				    document.getElementById("currentDate").textContent = formatted;
				  });
				</script>
	        </div>
	        <div>
		        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
			        <div class="btn-group-custom" style="text-align: left;">
				        <th:block th:if="${!hasCheckedIn}">
						    <button type="button" class="btn btn-lg btn-primary" onclick="checkIn()">출근</button>
						</th:block>
					    
				        <th:block th:if="${hasCheckedIn && !hasCheckedOut}">
				        	<button type="button" class="btn btn-lg btn-primary" onclick="checkOut()">퇴근</button>
						</th:block>
						<th:block th:if="${hasCheckedOut && hasCheckedIn}">
						    <button type="button" class="btn btn-lg btn-primary disabled " onclick="checkOut()">퇴근</button>
						</th:block>
					</div>
				</th:block>
				</div>
				</div>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		    <script th:inline="javascript">
		    async function checkIn() {
		    	  // 사용자에게 출근 확인 알림 표시
		    	  const result = await Swal.fire({
		    	    title: "출근 하시겠습니까?",
		    	    showDenyButton: true,
		    	    confirmButtonText: "출근",
		    	    denyButtonText: "아니요"
		    	  });
		    	  if (result.isDenied) {
		    		  Swal.fire({
		    			  icon: "error",
			    		  title: "출근 처리에 실패했습니다.",
			    		});
		    		  return;
		    		  }
		    	  // 출근 API 요청
		    	  try {
		    	    const response = await fetch('/attends/check-in', {
		    	      method: 'POST',
		    	      headers: {
		    	        'Content-Type': 'application/json'
		    	      },
		    	      body: JSON.stringify({})
		    	    });
		    	    if (!response.ok) {
		    	      await Swal.fire({
		    	        icon: "error",
		    	        title: "출근 처리 중 서버 오류가 발생했습니다",
		    	      });
		    	      throw new Error("출근 처리 중 서버 오류");
		    	    }
		    	    await Swal.fire({
		    	      title: "출근이 처리되었습니다",
		    	      icon: "success",
		    	    });
	
		    	    location.reload();
	
		    	  } catch (error) {
		    	    console.error('Error:', error);
		    	    await Swal.fire({
		    	        icon: "error",
		    	        title: "출근 처리 중 서버 오류가 발생했습니다",
		    	      });
		    	  }
		    	}
		    
		    	async function checkOut() {
		    	  // 사용자에게 퇴근 확인 알림 표시
		    	  const result = await Swal.fire({
		    	    title: "퇴근 하시겠습니까?",
		    	    showDenyButton: true,
		    	    confirmButtonText: "퇴근",
		    	    denyButtonText: "아니요"
		    	  });
	
		    	  if (result.isDenied) {
		    	    await Swal.fire({
		    	      icon: "info",
		    	      title: "퇴근이 취소되었습니다.",
		    	    });
		    	    return;
		    	  }
	
		    	  // 퇴근 API 요청
		    	  try {
		    	    const response = await fetch('/attends/check-out', {
		    	      method: 'POST',
		    	      headers: {
		    	        'Content-Type': 'application/json'
		    	      },
		    	      body: JSON.stringify({atdType: "ATT005"})
		    	    });
	
		    	    if (!response.ok) {
		    	      await Swal.fire({
		    	        icon: "error",
		    	        title: "퇴근 처리 중 서버 오류가 발생했습니다",
		    	      });
		    	      throw new Error("퇴근 처리 중 서버 오류");
		    	    }
	
		    	    await Swal.fire({
		    	      title: "퇴근이 처리되었습니다",
		    	      icon: "success",
		    	    });
	
		    	    location.reload();
	
		    	  } catch (error) {
		    	    console.error('Error:', error);
		    	    await Swal.fire({
		    	      icon: "error",
		    	      title: "퇴근 처리 중 서버 오류가 발생했습니다",
		    	    });
		    	  }
		    	}
		    
			</script> 
	        
			<div class="col-md-4 d-flex justify-content-end"> 
				<!-- 알림 아이콘  -->
<!-- 				<a href="#" class="d-flex align-items-center"> -->
<!-- 		        	<i class="fs-3 bi bi-bell-fill mx-3 d-flex align-items-center" id="top-bell"></i> -->
<!-- 		        </a> -->
		        
<!-- 				마이페이지  -->
<!-- 				<a href="#" class="d-flex align-items-center"> -->
<!-- 		        	<i class=" fs-3 bi bi-person-circle mx-3 d-flex align-items-center"></i> -->
<!-- 		        </a> -->
				<!--사원이름 출력-->
				 
				<th:block th:if="${#authorization.expression('isAuthenticated()')}">
					
				
				
			        <span th:text="${#authentication.principal.user.empName}"></span>님,반갑읍니다 ^^...
			    
		        <!-- 로그아웃 버튼 -->

				<button type="button" id="logoutBtn" class="btn btn-outline-secondary rounded-pill ms-3 me-4 d-flex align-items-center" onclick="logout()">
					로그아웃 &nbsp; <i class="bi bi-box-arrow-right "></i>
				</button>
				
				
				
				</th:block>
				<th:block th:if="${!#authorization.expression('isAuthenticated()')}">



					<button type="button" 
				        id="loginBtn" 
				        class="btn btn-outline-secondary rounded-pill ms-3 me-4 d-flex align-items-center" 
				        onclick="location.href='/login'">
				        로그인 &nbsp; <i class="bi bi-box-arrow-right "></i>
					</button>
				</th:block>
	        </div> <!-- right -->
		</div> <!-- topbar -->
	
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
		        <div class="sidebar-header">
		            <div class="d-flex justify-content-between">
		                <div class="logo">
		                    <a href="/ "><img src="/assets/images/logo/logo.png" style="width: 150px; height: auto;" alt="Logo" srcset=""></a>
		
		                </div>
		                <div class="toggler">
		                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
		                </div>
		            </div>
		        </div>
				
		        <div class="sidebar-menu">
		            <ul class="menu">
						
						<!-- 단일 메뉴 -->
		                <li class="sidebar-item ">
		                    <a href="/" class='sidebar-link'>
		                        <i class="bi bi-house-fill"></i>
		                        <span>홈</span>
		                    </a>
		                </li>
		                
		                
						<!-- ERP / MES -->
		                <li class="sidebar-title">ERP</li> 
						
		                <li class="sidebar-item ">
		                </li>
		                
						<!-- 소메뉴가 있는 메뉴-->
						
						<!-- 항목들 참조 해서 추가로 생성하세요!!!!! -->
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-people-fill"></i>
		                        <span>전자결재</span>
		                    </a>
		                    <ul class="submenu">
		                        <li class="submenu-item ">
		                            <a href="/eapproval/documents">문서함</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/eapproval/document/new">기안서 작성</a>
								</li>	
								<li class="submenu-item ">
								    <a href="/eapproval/forms">문서 양식 관리</a>
								</li>	
		                    </ul>
		                </li>
		                
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-people-fill"></i>
		                        <span>인사</span>
		                    </a>
		                    <ul class="submenu">
		                        <li class="submenu-item ">
		                            <a href="/emp/myEmplist">인사 카드</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/emp/emplist">인사 카드리스트</a>
		                            
		                        </li>
		                    </ul>
		                </li>
		
		
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-clock-fill"></i>
		                        <span>근태</span>
		                    </a>
		                    <ul class="submenu ">
		                        <li class="submenu-item ">
		                            <a href="/attends/list">출퇴근 관리</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/worktimes/list">근무 시간</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/overtimes/list">초과 근무</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/leaves/list">휴가 관리</a>
		                        </li>
		                    </ul>
		                </li>
		
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-wallet-fill"></i>
		                        <span>급여</span>
		                    </a>
		                    <ul class="submenu ">
		                        <li class="submenu-item ">
		                            <a href="/salaries/payList">급여 지급 내역</a>
		                        </li>
		                        <li class="submenu-item" >
		                        <!-- <li class="submenu-item" sec:authorize="hasRole('ROLE_ATHR001')"> -->
		                            <a href="/salaries/payroll">급여 대장</a>
		                        </li>
		                    </ul>
		                </li>
						
						<li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-newspaper"></i>
		                        <span>영업</span>
		                    </a>
		                    <ul class="submenu ">
								<li class="submenu-item ">
		                           <a href="/sales/soform">수주</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/sales/poform">발주</a>
		                        </li>
		                        <li class="submenu-item">
		                            <a href="/sales/shipment">출하</a>
		                        </li>
		                        <li class="submenu-item">
		                            <a href="/sales/chart">차트</a>
		                        </li>
		                    </ul>
		                </li>
						
						<li class="sidebar-title">MES</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-pencil-square"></i>
						        <span>기준 정보</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/product-info">상품/BOM 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/material-info">자재 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/equipment-info">설비 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/client-info">거래처 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/quality-info">품질 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/process-line-info">공정/라인 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/warehouse">창고 정보</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-collection-fill"></i>
						        <span>생산</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/prdct-order">주문 관리</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/prdct-plan">생산 계획</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/prdct-history">생산 이력</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
								<i class="bi bi-grid-fill"></i>
						        <span>공정</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/work-instruction">작업 지시</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/quality-inspection">품질 검사</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/quality-history">품질 이력</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/lot-tracking">Lot 추적</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-nut-fill"></i>
						        <span>설비</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/equipment-stts">설비 가동 현황</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/equipment-hstry">설비 이력</a>
						        </li>
						    </ul>
						</li>
						
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-archive-fill"></i>
						        <span>재고</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/inventory-status">재고 현황</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/inbound">입고 관리</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/outbound">출고 관리</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-title"></li>
						
						 <li class="sidebar-item ">
		                    <a href="/common-mng" class='sidebar-link' sec:authorize="hasRole('ROLE_ATHR001')">
		                        <i class="bi bi-gear-fill"></i>
		                        <span>관리</span>
		                    </a>
		                </li>
						

						<li class="sidebar-title">관리자</li>
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-gear"></i>
						        <span>공통 관리</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/comm/common">공통코드관리</a>
						        </li>
						    </ul>
						</li>
		            </ul>
		            
		            
		            <script type="text/javascript">
					function logout(){
					Swal.fire({
				        title: '로그아웃 하시겠습니까?',
				        icon: 'warning',
				        showCancelButton: true,   // ← 반드시 켜줘야 No 버튼 나옴
				        confirmButtonColor: '#435ebe',   // 네 버튼 색
				        cancelButtonColor: '#f27474',       // 아니오 버튼 색
				        confirmButtonText: '네',         // 네 버튼 이름
				        cancelButtonText: '아니오'       // 아니오 버튼 이름
				    }).then((result) => {
				        if (result.isConfirmed) {
							location.href='/logout';
				        }
				    });
					}				
				
					</script>	
		            
		        </div>
		        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
		    </div>
		</div> <!-- sidebar -->
	</div> <!-- th:fragment -->
		
</html>