<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<div th:fragment="sidebar" >

		<div id="topbar" class="d-block row d-flex justify-content-between align-items-center" >
	        <div class="col-md-8 d-flex justify-content-start">
	        
	        
		        <!-- 반응형 사이드바 메뉴 아이콘 -->
		        <div id="sidebar-burger" class="d-flex align-items-center mx-4">
		            <a href="#" class="burger-btn d-block d-xl-none d-flex align-items-center">
		                <i class="bi bi-justify fs-3 d-flex align-items-center"></i>
		            </a>
		        </div>
		        <div class="d-sm-none d-md-none d-lg-none d-xl-block" id="empty" ></div>
		        <!-- 날짜 -->
<!-- 	        	<div class="d-flex align-items-center">
	        		<h5 id="todayDate" class="me-3 " >날짜</h5>
	        		<button type="button" class="btn btn-primary" id="atndBtn" onclick="cmtBtn()">출근하기</button>
	        		
	        		data로 담아 갈 input
	        		<input type="hidden" id="cmtCd">
	        		<input type="hidden" id="cmtTime">
	        		<input type="hidden" id="deptCd">
					<input type="hidden" id="sttsCd">
					<input type="hidden" id="empNo">
					<input type="hidden" id="empId">
				</div>    -->     	
	        
	        </div>
	        
			<div class="col-md-4 d-flex justify-content-end"> 
				<!-- 알림 아이콘  -->
<!-- 				<a href="#" class="d-flex align-items-center"> -->
<!-- 		        	<i class="fs-3 bi bi-bell-fill mx-3 d-flex align-items-center" id="top-bell"></i> -->
<!-- 		        </a> -->
		        
<!-- 				마이페이지  -->
<!-- 				<a href="#" class="d-flex align-items-center"> -->
<!-- 		        	<i class=" fs-3 bi bi-person-circle mx-3 d-flex align-items-center"></i> -->
<!-- 		        </a> -->
		        <!-- 로그아웃 버튼 -->
				<button type="button" id="logoutBtn" class="btn btn-outline-secondary rounded-pill ms-3 me-4 d-flex align-items-center" onclick="location.href='logout'">
					로그아웃 &nbsp; <i class="bi bi-box-arrow-right "></i>
				</button>
	        </div> <!-- right -->
		</div> <!-- topbar -->
	
		<div id="sidebar" class="active">
			<div class="sidebar-wrapper active">
		        <div class="sidebar-header">
		            <div class="d-flex justify-content-between">
		                <div class="logo">
		                    <a href="/"><img src="/images/icon-logo-clear.png" style="width: 150px; height: auto;" alt="Logo" srcset=""></a>
		
		                </div>
		                <div class="toggler">
		                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
		                </div>
		            </div>
		        </div>
				
		        <div class="sidebar-menu">
		            <ul class="menu">
						
						<!-- 단일 메뉴 -->
		                <li class="sidebar-item ">
		                    <a href="/" class='sidebar-link'>
		                        <i class="bi bi-house-fill"></i>
		                        <span>홈</span>
		                    </a>
		                </li>
		                
		                
						<!-- ERP / MES -->
		                <li class="sidebar-title">ERP</li> 
						
		                <li class="sidebar-item ">
		                </li>
		                
						<!-- 소메뉴가 있는 메뉴-->
						
						<!-- 항목들 참조 해서 추가로 생성하세요!!!!! -->
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-people-fill"></i>
		                        <span>전자결재</span>
		                    </a>
		                    <ul class="submenu">
		                        <li class="submenu-item ">
		                            <a href="/eapproval/approvalList">기안서목록</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/eapproval/approvalList">기안서 작성</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/eapproval/approvalList">결재대기</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/eapproval/approvalList">수신문서함</a>
		                        </li>
		                    </ul>
		                </li>
		                
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-people-fill"></i>
		                        <span>인사</span>
		                    </a>
		                    <ul class="submenu">
		                        <li class="submenu-item ">
		                            <a href="/emp/emplis">인사 카드</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/emp/emplist">인사 카드리스트</a>
		                            
		                        </li>
		                    </ul>
		                </li>
		
		
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-clock-fill"></i>
		                        <span>근태</span>
		                    </a>
		                    <ul class="submenu ">
		                        <li class="submenu-item ">
		                            <a href="/cmt-stts">출퇴근 관리</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/work-mng">근무 관리</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/vctn-mng">휴가 관리</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/loab-mng">휴직 관리</a>
		                        </li>
		                    </ul>
		                </li>
		
		                <li class="sidebar-item  has-sub">
		                    <a href="#" class='sidebar-link'>
		                        <i class="bi bi-wallet-fill"></i>
		                        <span>급여</span>
		                    </a>
		                    <ul class="submenu ">
		                        <li class="submenu-item ">
		                            <a href="/pay-mng">급여 종류 관리</a>
		                        </li>
		                        <li class="submenu-item ">
		                            <a href="/pay-info">급여 지급 이력</a>
		                        </li>
		                        <li class="submenu-item" sec:authorize="hasRole('ROLE_ATHR001')">
		                            <a href="/pay-list">급여 대장</a>
		                        </li>
		                    </ul>
		                </li>
						
						
						
						<li class="sidebar-title">MES</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-pencil-square"></i>
						        <span>기준 정보</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/product-info">상품/BOM 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/material-info">자재 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/equipment-info">설비 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/client-info">거래처 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/quality-info">품질 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/process-line-info">공정/라인 정보</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/warehouse">창고 정보</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-collection-fill"></i>
						        <span>생산</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/prdct-order">주문 관리</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/prdct-plan">생산 계획</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/prdct-history">생산 이력</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
								<i class="bi bi-grid-fill"></i>
						        <span>공정</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/work-instruction">작업 지시</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/quality-inspection">품질 검사</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/quality-history">품질 이력</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/lot-tracking">Lot 추적</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-nut-fill"></i>
						        <span>설비</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/equipment-stts">설비 가동 현황</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/equipment-hstry">설비 이력</a>
						        </li>
						    </ul>
						</li>
						
						
						<li class="sidebar-item  has-sub">
						    <a href="#" class='sidebar-link'>
						        <i class="bi bi-archive-fill"></i>
						        <span>재고</span>
						    </a>
						    <ul class="submenu ">
						        <li class="submenu-item ">
						            <a href="/inventory-status">재고 현황</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/inbound">입고 관리</a>
						        </li>
						        <li class="submenu-item ">
						            <a href="/outbound">출고 관리</a>
						        </li>
						    </ul>
						</li>
						
						<li class="sidebar-title"></li>
						
						 <li class="sidebar-item ">
		                    <a href="/common-mng" class='sidebar-link' sec:authorize="hasRole('ROLE_ATHR001')">
		                        <i class="bi bi-gear-fill"></i>
		                        <span>관리</span>
		                    </a>
		                </li>
						
		            </ul>
		        </div>
		        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
		    </div>
		</div> <!-- sidebar -->
		
	</div> <!-- th:fragment -->
</html>
