<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

	  
	  
	  
<th:block layout:fragment="css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.min.css">

    <style>
        /* 기존 CSS 스타일들 여기 */
    </style>
</th:block>




<div layout:fragment="content">
    <!-- 기존 form, 버튼, 그리드 등 다 여기 -->
    
    
    
    
    
    
</div>





<th:block layout:fragment="script">
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.min.js"></script>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script>
        // 기존 JavaScript 코드
    </script>
</th:block>






</html>
