<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}"> 
	<head>
		<link rel="shortcut icon" href="/assets/images/logo/favicon.png" type="image/x-icon">
	    
	    <!-- 기본 메타 정보 -->
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>수주 등록</title>

</head>
<body>

    <div layout:fragment="content">
		
		<br>
<!--		<th:block th:each="soModel : ${soModel}">-->
<!--			<div th:text="${soModel}"></div>-->
<!--		</th:block>-->
<!-- 그리드 top 시작 -->

	   	<div id="gridTop"></div>
	
	    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
	    <script th:inline="javascript">
	    /*<![CDATA[*/
	    const grid = new tui.Grid({
            el: document.getElementById('gridTop'),
            data: /*[[${attendList}]]*/ [],
            rowHeaders: ['checkbox'],
            columns: [
            	{ header: '출결NO', name: 'id', width: 80, align: "center" },
            	{ header: '사원번호', name: 'empNo', width: 100, align: "center" },
            	{ header: '출결일자', name: 'attendDate', width: 180, align: "center" },
            	{ header: '출결유형', name: 'attendType', width: 100, align: "center" },
            	{ header: '출결상태', name: 'attendStatus', width: 100, align: "center" },
            	{ header: '비고', name: 'remarks', width: 150, align: "center" }
            ]
        });
	    /*]]>*/

        /* 이벤트 리스너 추가 */
        grid.on('check', ev => {
            console.log('체크됨!', ev);
        });

        grid.on('uncheck', ev => {
            console.log('체크 해제됨!', ev);
        });

        grid.on('focusChange', ev => {
            console.log('포커스 변경됨!', ev);
        });
        

	    </script>
	    <!-- 그리드 끝 --> 
		
    </div>
   	
	<th:block layout:fragment="script">
	    
	</th:block>
</body>

</html>