<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout}">
<head>
<link rel="shortcut icon" href="/assets/images/logo/favicon.png"
	type="image/x-icon">
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<!-- 기본 메타 정보 -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.min.js"></script>
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<title>휴가 관리</title>

<style>
.tui-datepicker {
	z-index: 99999 !important;
	position: absolute !important;
}
</style>


</head>


<body>

	<div layout:fragment="content">

		<br>
		<!--		<th:block th:each="soModel : ${soModel}">-->
		<!--			<div th:text="${soModel}"></div>-->
		<!--		</th:block>-->
		<!-- 그리드 top 시작 -->
		<h3>휴가 조회 관리</h3>

		<div class="col-md-12">
			<div class="card">
				<div class="card-header">



					


				</div>
				<div class="card-body">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation"><a
							class="nav-link active" id="home-tab" data-bs-toggle="tab"
							href="#home" role="tab" aria-controls="home" aria-selected="true">사용내역</a>
						</li>
						<li class="nav-item" role="presentation"><a class="nav-link"
							id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab"
							aria-controls="profile" aria-selected="false" tabindex="-1">보유내역</a>
						</li>
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel"
							aria-labelledby="home-tab">
					<br>




							<!-- 왼쪽: 검색창 + 날짜 -->
							<div style="display: flex; align-items: center; gap: 10px;">
								<input type="text" id="searchInput" placeholder="검색어를 입력하세요"
									class="form-control" style="width: 200px;" />
									
									<label for="startDate">시작일:</label>
									    <div style="position: relative;">
									      <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									        <input type="text" id="startDate" aria-label="Start Date">
									        <span class="tui-ico-date"></span>
									      </div> 
									      <div id="startDateWrapper" style="margin-top: -1px;"></div>
									    </div>
									
									    <label for="endDate">종료일:</label>
									    <div style="position: relative;">
									      <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									        <input type="text" id="endDate" aria-label="End Date">
									        <span class="tui-ico-date"></span>
									      </div>
									      <div id="endDateWrapper" style="margin-top: -1px;"></div>
									    </div>
		
								<button id="dateSearchBtn" class="btn btn-primary">검색</button>
								<div class="btn-group-custom" style="margin-left: auto; display: flex; gap: 10px;">
						    <a href="/eapproval/document/new" class="btn btn-lg btn-primary">휴가신청</a>
						    </div>
							</div>
							<br>
							
							
							
							

							<div id="gridLeaveHome"></div>





						</div>
						<div class="tab-pane fade" id="profile" role="tabpanel"
							aria-labelledby="profile-tab">
						<br>
						
						
							
							
							<!-- 왼쪽: 검색창 + 날짜 -->
							<div style="display: flex; align-items: center; gap: 10px;">
								<input type="text" id="searchInputUsed" placeholder="검색어를 입력하세요"
									class="form-control" style="width: 200px;" />
								<button id="dateSearchUsedBtn" class="btn btn-primary"
							            sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">검색</button>
							
							
							
							<div class="btn-group-custom" style="margin-left: auto; display: flex; gap: 10px;">
						    <a href="/eapproval/document/new" class="btn btn-lg btn-primary">휴가신청</a>
						    </div>
						    </div>

							
							<br>
							

							
							<div id="gridUsedLeftLeave"></div>
							
						


							
							</div>
					</div>
				</div>
			</div>
		</div>
















	<th:block layout:fragment="script">

	<script th:inline="javascript">
	
	

	
	document.addEventListener('DOMContentLoaded', function () {
	const oneMonthAgo = new Date();
	  oneMonthAgo.setMonth(oneMonthAgo.getMonth() - 1);
	  // 시작일 DatePicker
	  const startPicker = new tui.DatePicker('#startDateWrapper', {
		language: 'ko',  
	    date: oneMonthAgo,
	    input: {
	      element: '#startDate',
	      format: 'yyyy-MM-dd'
	    }
	  });
	
	  // 종료일 DatePicker
	  const endPicker = new tui.DatePicker('#endDateWrapper', {
		language: 'ko',  
	    date: new Date(),
	    input: {
	      element: '#endDate',
	      format: 'yyyy-MM-dd'
	    }
	  });
	});
	  
	
	
	
	
    const data1 = /*[[${leaveList}]]*/ [];
  	const leaveTypeCodeList = /*[[${commonCodeMap['VCTN']}]]*/ [];
  	
  
	// map codeName → code
  	data1.forEach(emp => {
    const match = leaveTypeCodeList.find(code => code.cmnDetailName === emp.leaveTypeName);
    if (match) {
      emp.levType = match.cmnDetailCode;  // 예: 'WKT001'
    } else {
      emp.levType = null;  // 기본값 설정 가능
    }
  	});

 	 const mergedData = data1.concat(leaveTypeCodeList);
  
 	 const leaveTypeListItems = [
  	  ...leaveTypeCodeList.map(code => ({
  	    value: code.cmnDetailCode,
  	    text: code.cmnDetailName
  	  }))
  	];
  
  console.log(data1);
  
  document.addEventListener('DOMContentLoaded', function () {
  const grid = new tui.Grid({
   el: document.getElementById('gridLeaveHome'),
   data: data1,
   scrollX: false,
   scrollY: false,
   rowKey: 'levNo',
   editingEvent: 'click',     // ✅ 클릭하면 바로 수정 모드
   autoEdit: true, 
   pageOptions: {
    useClient: true,  // 서버 사이드 페이징 활성화
    perPage: 20
	},
   columns: [
   	{ 
      header: '사원번호', 
   	  name: 'empId', 
   	  sortable: true, 
   	  align: "center" 
   	},
   	{ 
     header: '사원이름', 
     name: 'empName', 
     sortable: true, 
     align: "center" 
     },
   	{ 
     header: '부서', 
     name: 'deptName', 
     sortable: true, 
     align: "center",
     formatter: function({ row }) {
    		  return row.deptName;
       }
   	},
   	{ 
     header: '유형', 
     name: 'levType', 
     sortable: true, 
     align: "center",
     formatter: function({ row }) {
   		  return row.levTypeName;
      }
     },
     { 
   	  header: '시작일', 
   	  name: 'levStartDate', 
   	  sortable: true, 
  		  align: "center",
      		formatter: function({ value }) {
      		    if (!value) return ''; // null, undefined, '', 0 모두 걸러짐

      		    const date = new Date(value);
      		    if (isNaN(date)) return ''; // Invalid Date도 방지

      		    const year = date.getFullYear();
      		    const month = String(date.getMonth() + 1).padStart(2, '0');
      		    const day = String(date.getDate()).padStart(2, '0');
      		    
      		    return `${year}년 ${month}월 ${day}일`;
      		}
  		},
   	{ 
   	  header: '종료일', 
   	  name: 'levEndDate', 
   	  sortable: true, 
  		  align: "center",
      		formatter: function({ value }) {
      		    if (!value) return ''; // null, undefined, '', 0 모두 걸러짐

      		    const date = new Date(value);
      		    if (isNaN(date)) return ''; // Invalid Date도 방지

      		    const year = date.getFullYear();
      		    const month = String(date.getMonth() + 1).padStart(2, '0');
      		    const day = String(date.getDate()).padStart(2, '0');
      		    
      		    return `${year}년 ${month}월 ${day}일`;
      		}
  		},
   	{ 
     header: '휴가일 수', 
     name: 'levDays', 
     sortable: true, 
     align: "center" 
     },
   	{ 
     header: '남은 연차', 
     name: 'levLeftDays', 
     sortable: true, 
     align: "center" 
     },
   	{ 
     header: '사유', 
     name: 'levReason', 
     sortable: true, 
     align: "center" 
     },
     { 
   	  header: '신청일시', 
   	  name: 'levReqDate', 
   	  sortable: true, 
  		  align: "center",
      		formatter: function({ value }) {
      		    if (!value) return ''; // null, undefined, '', 0 모두 걸러짐

      		    const date = new Date(value);
      		    if (isNaN(date)) return ''; // Invalid Date도 방지

      		    const year = date.getFullYear();
      		    const month = String(date.getMonth() + 1).padStart(2, '0');
      		    const day = String(date.getDate()).padStart(2, '0');
      		    
      		    return `${year}년 ${month}월 ${day}일`;
      		}
  		},
   	{ 
     header: '승인상태', 
     name: 'levApprovalStatus', 
     sortable: true,  
     align: "center" 
     },
   	{ 
     header: '승인자', 
     name: 'levApprover', 
     sortable: true, 
     align: "center" 
     },
     { 
   	  header: '승인일시', 
   	  name: 'levApprovalDate', 
   	  sortable: true, 
  		  align: "center",
      		formatter: function({ value }) {
      		    if (!value) return ''; // null, undefined, '', 0 모두 걸러짐

      		    const date = new Date(value);
      		    if (isNaN(date)) return ''; // Invalid Date도 방지

      		    const year = date.getFullYear();
      		    const month = String(date.getMonth() + 1).padStart(2, '0');
      		    const day = String(date.getDate()).padStart(2, '0');
      		    
      		    return `${year}년 ${month}월 ${day}일`;
      		}
  		},
   	{ 
     header: '비고', 
     name: 'levRemarks', 
     sortable: true, 
     align: "center" 
     }
     
     
     ],
            
	});

  
  
  
//행 아무곳이나 클릭하면 체크박스 활성화
  	grid.on('click', ev => {
  	  const rowKey = ev.rowKey;
  	  const isChecked = grid.getCheckedRowKeys().includes(rowKey);
  	  if (!isChecked) {
  		  grid.check(rowKey);
  	  } else {
  		  grid.uncheck(rowKey);
  	  }
  	});
  
  /* 이벤트 리스너 추가 */
  grid.on('check', ev => {
      console.log('체크됨!', ev);
  });

  grid.on('uncheck', ev => {
      console.log('체크 해제됨!', ev);
  });

  grid.on('focusChange', ev => {
      console.log('포커스 변경됨!', ev);
  });
  
               
 
  
  
  
  
  
    
	   // grid 데이터 원본 저장
		const Data = grid.getData();
	
		document.getElementById('searchInput').addEventListener('input', function (e) {
		  const keyword = e.target.value.toLowerCase();
	
		  // 원본 데이터를 기준으로 필터링
		  const filtered = Data.filter(row => {
		    return Object.values(row).some(val => {
		      if (val == null) return false;
		      return String(val).toLowerCase().includes(keyword);
		    });
		  });
	
		  // 필터링된 데이터로 그리드 업데이트
		  grid.resetData(filtered);
		});
		
		
		function ApplyFilter() {
			  const keyword = document.getElementById('searchInput').value.toLowerCase();
			  const start = document.getElementById('startDate').value;
			  const end = document.getElementById('endDate').value;
	
			  let filtered = Data;
	
			  if (start && end) {
			    const startDate = new Date(start);
			    const endDate = new Date(end);
			    endDate.setHours(23, 59, 59, 999);
	
			    filtered = filtered.filter(row => {
			      const atdDate = new Date(row.levStartDate);
			      return atdDate >= startDate && atdDate <= endDate;
			    });
			  }
	
			  if (keyword) {
			    filtered = filtered.filter(row =>
			      Object.values(row).some(val =>
			        val != null && String(val).toLowerCase().includes(keyword)
			      )
			    );
			  }
	
			  grid.resetData(filtered);
			}
	
			document.getElementById('dateSearchBtn').addEventListener('click', ApplyFilter);
			document.getElementById('searchInput').addEventListener('input', ApplyFilter);
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			document.querySelector('a[data-bs-toggle="tab"][href="#profile"]')
			  .addEventListener('shown.bs.tab', function (event) {
			    // 그리드 리사이즈 트리거
			    grid2.refreshLayout();  // 또는 grid2.resize();
			  });
			
			
		  const data2 = /*[[${usedLeftList}]]*/ [];
		  
		  console.log(data2);
		  
		  
		  const grid2 = new tui.Grid({
		   el: document.getElementById('gridUsedLeftLeave'),
		   data: data2,
		   scrollX: false,
		   scrollY: false,
		   rowKey: 'empId',
		   editingEvent: 'click',     // ✅ 클릭하면 바로 수정 모드
		   autoEdit: true, 
		   pageOptions: {
		    useClient: true,  // 서버 사이드 페이징 활성화
		    perPage: 20
			},
		   columns: [
		   	{ 
		      header: '사원번호', 
		   	  name: 'empId', 
		   	  sortable: true, 
		   	  align: "center" 
		   	},
		   	{ 
		     header: '사원이름', 
		     name: 'empName', 
		     sortable: true, 
		     align: "center" 
		     },
		   	{ 
		     header: '부서', 
		     name: 'deptName', 
		     sortable: true, 
		     align: "center",
		     formatter: function({ row }) {
		    		  return row.deptName;
		       }
		   	},
		   	{ 
		     header: '사용한 연차', 
		     name: 'levUsedDays', 
		     sortable: true, 
		     align: "center" 
		     },
		   	{ 
		     header: '남은 연차', 
		     name: 'levLeftDays', 
		     sortable: true, 
		     align: "center" 
		     }
		     ],
		            
			});
  });
		  
		  
		  
		//행 아무곳이나 클릭하면 체크박스 활성화
		  	grid2.on('click', ev => {
		  	  const rowKey = ev.rowKey;
		  	  const isChecked = grid.getCheckedRowKeys().includes(rowKey);
		  	  if (!isChecked) {
		  		  grid.check(rowKey);
		  	  } else {
		  		  grid.uncheck(rowKey);
		  	  }
		  	});
		  
		  /* 이벤트 리스너 추가 */
		  grid2.on('check', ev => {
		      console.log('체크됨!', ev);
		  });

		  grid2.on('uncheck', ev => {
		      console.log('체크 해제됨!', ev);
		  });

		  grid2.on('focusChange', ev => {
		      console.log('포커스 변경됨!', ev);
		  });
		  
		               
		 
		  
		  
		  
		  
		  
		    
	   // grid 데이터 원본 저장
		const Data2 = grid2.getData(); 
	
		document.getElementById('searchInputUsed').addEventListener('input', function (e) {
		  const keyword = e.target.value.toLowerCase();
	
		  // 원본 데이터를 기준으로 필터링
		  const filtered = Data2.filter(row => {
		    return Object.values(row).some(val => {
		      if (val == null) return false;
		      return String(val).toLowerCase().includes(keyword);
		    });
		  });
	
		  // 필터링된 데이터로 그리드 업데이트
		  grid2.resetData(filtered);
		});
		
		
		function ApplyFilter() {
			  const keyword = document.getElementById('searchInputUsed').value.toLowerCase();
			  const start = document.getElementById('startDateUsed').value;
			  const end = document.getElementById('endDateUsed').value;
	
			  let filtered = Data2;
	
			  if (start && end) {
			    const startDate = new Date(start);
			    const endDate = new Date(end);
			    endDate.setHours(23, 59, 59, 999);
	
			    filtered = filtered.filter(row => {
			      const atdDate = new Date(row.levStartDate);
			      return atdDate >= startDate && atdDate <= endDate;
			    });
			  }
	
			  if (keyword) {
			    filtered = filtered.filter(row =>
			      Object.values(row).some(val =>
			        val != null && String(val).toLowerCase().includes(keyword)
			      )
			    );
			  }
	
			  grid.resetData(filtered);
			}
	
			document.getElementById('dateSearchUsedBtn').addEventListener('click', ApplyFilter);
			document.getElementById('searchInputUsed').addEventListener('input', ApplyFilter);


	
	</script> 
	</th:block>
</body>

</html>