<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
	<style>
		.bom-tree li {
		  margin-left: 20px;
		  list-style-type: circle;
		}

		.timeline .step {
		  margin: 10px 0;
		  padding: 10px;
		  border-left: 3px solid #007bff;
		  padding-left: 15px;
		}
		
	</style>
</head>
<body>
	<div layout:fragment="content">

	<!-- ------------------- 상단 작업 시지 현황 시작 ---------------------------- -->
	<h3>작업 시지 현황</h3>
	<div class="container mt-5">
	    <div class="row mb-4 d-flex justify-content-between">
	        <div class="col-md-3">
				<button class="form-control btn btn-primary btn-m" id="regeWork" data-bs-toggle="modal" data-bs-target="#woModal">
				<i class="fa-solid fa-magnifying-glass"></i>진행 중 작업 등록</button>
	        </div>
			<div class="col-md-3">
				<input type="month" class="form-control" placeholder="등록월">
				<!--<button class="btn btn-outline-secondary" type="button">
					<i class="bi bi-search"></i>
				</button>-->
	        </div>
			
	        <div class="col-md-3">
	            <div class="input-group">
					<select class="form-select form-select-sm" id="soCode">
						<option value="">-- 공정을 선택하세요--</option>
			            <option>PR(프레스)</option>
						<option>WE(용접)</option>
						<option>PA(도장)</option>
						<option>AS(조립)</option>
			        </select>
	            </div>
				<div class="input-group">
					<select class="form-select form-select-sm" id="soCode">
						<option value="">-- 라인을 선택하세요--</option>
			            <option>1line</option>
						<option>2line</option>
						<option>3line</option>
						<option>4line</option>
			        </select>
	            </div>	
			</div>
	    </div><!-- <div class="row mb-3"> -->
	</div><!-- <div class="container mt-5"> -->
	
	<div id="woGrid"></div>

	
	<!-- ------------------- 하단 공정 현황 시작 ---------------------------- -->
	<button type="button" id="prcBoard" class="btn btn-primary btn-m">공정현황</button>
	<br>
	<div class="container-fluid">
	  	<div class="row">
			<!-- bom-tree -->
	    	<!-- 왼쪽 그리드 -->
		    <div class="col-md-4 border-end">
				<ul id="bom-tree"></ul>
		    </div>

		    <!-- 오른쪽 그리드 -->
		    <div class="col-md-8">
				<button class="btn btn-primary btn-m" id="regeWork">다음 공정</button>
				<input type="text">
				<br>
	      		<div id="prcGrid"></div>	
	    	</div>
	 	</div>
	</div>
	<!-- ------------------- 하단 공정 현황 끝---------------------------- -->
	
	<!--  모달 창 시작 -->
	<div class="modal fade" id="woModal" tabindex="-1">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="woModalLabel">시작 작업 목록</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <form>
	                <div class="modal-body">
						
						<!-- 셀렉트 박스 -->
						<div class="form-group">
							<label for="empName">진행 중인 계획코드</label>
							<select class="form-select form-select-sm" id="woCodeSelected">
								<option value="">--선택하세요--</option>
							    <option th:each="code : ${workOrderSBList}"
									th:value="${code.woCode}"
									th:text="${code.woCode}"
								></option>
							</select>
						</div>
						
						<!-- 품목 코드 -->
						<div class="form-group" >
							<label for="deptName">품목코드</label>
							<input type="text" class="form-control" id="txtPdtCode" readonly="true">
						</div>
						
						<!-- 품목 이름 -->
						<div class="form-group" >
							<label for="deptName">품목이름</label>
							<input type="text" class="form-control" id="txtPdtName" readonly="true">
						</div>
												
						<!-- 수량 -->
						<div class="form-group" >
							<label for="deptName">수량</label>
							<input type="text" class="form-control" id="txtWoQty" readonly="true">
						</div>
						
						<!-- 작업 담당자 -->
						<div class="form-group" >
							<label for="deptName">작업 담당자</label>
							<input type="text" class="form-control" id="txtEmpName" readonly="true">
						</div>
						
						<!-- 작업 시작일 -->
						<div class="form-group" >
							<label for="deptName">작업 시작일</label>
							<input type="text" class="form-control" id="txtWoStartDate" readonly="true">
						</div>
                    </div>
                    
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
	                    <button type="button" class="btn btn-primary" id="modalStartBtn">시작</button>
	                </div>
	            </form>
	        </div> <!-- modal-content -->
	    </div><!-- modal-dialog modal-lg -->
	</div><!-- modal -->
	<!-- 모달 끝 -->

	<script th:inline="javascript">
		let woCode; //셀렉트 박스에서 선택된 woCode 값을 전역으로 설정 
		let pdtCode; //셀렉트 박스에서 선택된 pdtCode 값을 전역으로 설정 
		let woGridData; //상단 그리드에 입력될 데이터를 전역으로 설정
		let prcGridData; //하단 그리드에 입력될 데이터를 전역으로 설정
		let bomList = {}; //모달안의 시작 버튼을 누르면 하단 왼쪽 트리를 구성할 배열 선언
		let woQty; //컨트롤러에서 개수를 넘기기 위해서 전역으로 설정 후 셀렉트박스에서 값이 선택되면 저장하게 함
		
		$(document).ready(function(){
			
			//======================================= 모달 안에 셀렉트 박스 이벤트 ================================================
			$("#woCodeSelected").on('change', function(){
				
				woCode = $(this).val();
				
				$.ajax({
					url: '/production/woCodeSelected',
					type: 'GET',
					data: {data: woCode},
					success : function(response){
						console.log(response);
						
						pdtCode = response[0].PDT_CODE;
						
						$("#txtPdtCode").val(response[0].PDT_CODE);
						$("#txtPdtName").val(response[0].PDT_NAME);
						$("#txtWoQty").val(response[0].WO_QTY);
						woQty = response[0].WO_QTY;
						console.log(woQty);
						$("#txtEmpName").val(response[0].EMP_NAME);
						$("#txtWoStartDate").val(response[0].WO_START_DATE);
					},
					error : function(error){
						console.log("error:" + error)
					}
				});//$.ajax
			});//$("#woCodeSelected").on('change', function(){
				
			//======================================= 모달 하단의 시작 버튼 ================================================	
			$("#modalStartBtn").on('click', function(){
					
				//셀렉트 박스에 선택된 값이 없는 경우 return
				if($("#woCodeSelected").val() === null || $("#woCodeSelected").val() === ""){
					Swal.fire({
					  icon: "warning",
					  title: "선택된 계획 코드가 없습니다.",
					});
					
					return;
				}
				
				Swal.fire({
					title: 'LOT번호가 부여되고 공정이 시작됩니다.',
				   	text: "이 작업은 되돌릴 수 없습니다!",
				  	icon: 'warning',
				  	showCancelButton: true,
				  	confirmButtonText: '확인',
				  	cancelButtonText: '취소'
				}).then((result) => {
				  if (result.isConfirmed) {
					
					$.ajax({
						url: '/production/pdtCodeSelected',
						type: 'GET',
						data: {
							'pdtCode' : pdtCode,
							'woCode' : woCode,
							'woQty' : woQty
							},
						success : function(response){
							woGridData = response;
							woGrid.resetData(response);
							
							//PARENT_PDT_CODE와 CHILD_ITEM_CODE로 배열 생성
							bomList = response.map(item => ({
					            parent: item.PARENT_PDT_CODE,
					            child: item.CHILD_ITEM_CODE
					        }));
							console.log(bomList);
							
							//bomList로 배열을 만들고 하단 왼쪽 트리를 만드는 함수 호출
							//bomList는 전역으로 선언해서 makeTree에서 바로 사용
							makeTree();
						},
						error : function(error){
							console.log("error:" + error)
						}
					});//$.ajax
					
					
					$('#woModal').modal('hide');
						
				  	}//if (result.isConfirmed) {
				});
				
				//셀렉트 박스가 선택되었다면 pdtCode에 값이 있을 수밖에 없다.
				//셀렉트 박스가 선택될 때 작업시지 코드를 받아와서 같이 넘겨준다
				//pdtCode로 BOM 재귀 호출
				
				
			})
			
			//======================================= 하단 왼쪽 위에 공정 현황 버튼 클릭 ================================================
			$("#prcBoard").on("click", function(){
				
				$.ajax({
					url: '/production/prcBoard',
					type: 'POST',
					data: {
						'pdtCode' : pdtCode,
						'woCode' : woCode
						},
					success : function(response){
							console.log(response);
							prcGrid.resetData(response);
					},
					error : function(error){
						console.log("error:" + error)
					}
				});//$.ajax
			}) 
		});//$(document).ready(function(){
			
		//======================================= 상단 그리드 ================================================
		
		let woGrid = new tui.Grid({
	        el: document.getElementById('woGrid'), 
			//data : /*[[${productList}]]*/ [],
			data: woGridData,
	        rowHeaders: ['checkbox'], //수정을 따로 안 만들기 때문에 필요가 없어졌다
			//selectionUnit: 'row', //행 단위선택
			scrollX: true,
	        scrollY: true,
			//width: 1600,  // 전체 너비 지정
			//bodyHeight: 250, // 세로 스크롤을 위한 높이 지정
			pageOptions: {
			   useClient: true,   // 클라이언트 사이드 페이징 사용
			   perPage: 10        // 페이지당 행 수
			 },
	        columns: [
				{
					header: '레벨',
					name: 'BOM_LEVEL',
					width: 100,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '자식 코드',
	                name: 'CHILD_ITEM_CODE',
					width: 150,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '부모 코드',
	                name: 'PARENT_PDT_CODE',
					width: 150,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '코드 유형',
	                name: 'ITEM_TYPE',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '공정 단계',
	                name: 'BOM_PRC_TYPE',
					width: 110,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '수량',
	                name: 'BOM_QTY',
					width: 100,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '비고',
	                name: 'COMMENTS',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
	        ], // 열 설정
			autoEdit: true,
			editingEvent: 'dblclick' 
	    });

			
		//======================================= 하단 왼쪽 트리 ================================================
	
		function makeTree(){
			const rootCode = pdtCode; //pdtCode 전역으로 선언
			
			//마지막 부모 태그 생성, bomList 전역으로 선언
			const treeHtml = `<li>${rootCode} <button class='btn btn-outline-primary btn-sm' onclick="createLot('${rootCode}')">LOT 생성</button>` +
			                 buildBomTree(rootCode, bomList) +
			                 '</li>';

			$('#bom-tree').html(treeHtml);
					
		}
		
		function buildBomTree(root, bomList) {
		    // root를 자식으로 포함하는 모든 부모 찾기
		    const parents = bomList.filter(rel => rel.child === root).map(rel => rel.parent);
		    if (parents.length === 0) return '';

			//자식에 해당하는 태그 생성
		    let html = '<ul>';
		    for (let parent of parents) {
		        html += `<li>${parent} <button class='btn btn-outline-success btn-sm' onclick="showUsage('${parent}')">사용처 보기</button>`;
		        html += buildBomTree(parent, bomList); // 상위 parent를 계속 탐색
		        html += '</li>';
		    }
		    html += '</ul>';
		    return html;
		}

		//======================================= 하단 오른쪽 그리드 ================================================
		
		
		let prcGrid = new tui.Grid({
	        el: document.getElementById('prcGrid'), 
			//data : /*[[${productList}]]*/ [],
			data: woGridData,
	        rowHeaders: ['checkbox'], //수정을 따로 안 만들기 때문에 필요가 없어졌다
			//selectionUnit: 'row', //행 단위선택
			scrollX: true,
	        scrollY: true,
			//width: 1600,  // 전체 너비 지정
			//bodyHeight: 250, // 세로 스크롤을 위한 높이 지정
			pageOptions: {
			   useClient: true,   // 클라이언트 사이드 페이징 사용
			   perPage: 10        // 페이지당 행 수
			 },
	        columns: [
				{
					header: 'LOT번호',
					name: 'LOT_NO',
					width: 100,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
	           {
	                header: '자식 로트 코드',
	                name: 'CHILD_LOT_CODE',
					width: 150,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '부모 로트 코드',
	                name: 'PARENT_LOT_CODE',
					width: 150,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '자식 제품 코드',
	                name: 'CHILD_PDT_CODE',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '부모 제품 코드',
	                name: 'PARENT_PDT_CODE',
					width: 110,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '생성 일자',
	                name: 'CREATE_DATE',
					width: 100,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
				{
	                header: '비고',
	                name: 'COMMENTS',
					width: 200,
					sortable: true, 
					filter: 'text',
					align: "center" 
	            },
	        ], // 열 설정
			autoEdit: true,
			editingEvent: 'dblclick' 
	    });
	
	</script>
	</div> <!-- /layout:fragment -->		
	
	<th:block layout:fragment="script">
		<script type="text/javascript">		
			
		</script>
	</th:block>
</body>
</html>