<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
	
	<!-- 토스트 ui css -->
	<link rel="stylesheet" href="https://uicdn.toast.com/tui-tree/latest/tui-tree.css" />
	<!-- 토스트 ui js -->
	<script src="https://uicdn.toast.com/tui-code-snippet/latest/tui-code-snippet.js"></script>
	<script src="https://uicdn.toast.com/tui-tree/latest/tui-tree.js"></script>
	<!-- ApexCharts 라이브러리 CDN -->
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<!-- Toast UI Chart -->
	<link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
	<script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
	
	

</head>
<body>
<div layout:fragment="content">

	<h3>작업지시</h3>
	
	<div class="card">
		    <div class="card-body"> <!-- 여기에 내용작성 -->
		    <div class="card-header">
		        <h5 class="card-title"></h5>
		    </div>
			<div class="row mb-3"> <!-- 검색박스 -->
		        <div class="col-md-4">
			        <div id="searchForm" class="d-flex align-items-center gap-2">
				        <input type="text" id="searchInput" class="form-control" placeholder="검색어를 입력하세요" />
						<button id="dateSearchBtn" class="btn btn-primary btn-m"><i class="fa-solid fa-magnifying-glass"></i></button>
			        </div>
		        </div>
	   			<div class="text-end" sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN')"> <!-- 작업등록 버튼 -->
				    <button class="btn btn-primary btn-m" id="regeWork" data-bs-toggle="modal" data-bs-target="#workModal"><i class="fa-solid fa-magnifying-glass"></i> 작업등록</button>
				</div><!-- 작업등록 버튼 -->
		    </div><!-- /검색박스 -->
		    <hr>
   			
			
			<div class="card-header">
		        <h5 class="card-title"><i class="fa-solid fa-bars"></i> 작업지시 목록</h5>
		    </div>
		    
		    
		    <div id="grid" style="height: 400px;width:1300px"></div>
		    
		    <script th:inline="javascript">
		    	const gridData = /*[[${orderList}]]*/ [];
		    	gridData.forEach((list, index) => list.rowNum = index + 1); //row번호
		    	//console.log(gridData);
			    const grid = new tui.Grid({
			      el: document.getElementById('grid'),
			      data: gridData,
			      rowHeaders: ['checkbox'],
			      columns: [
			    	{ header: '지시번호', name: 'rowNum', sortable: true,align: 'center', width:'80'},
					{ header: '제조코드', name: 'msCode',sortable: true,align: 'center', width:'150'},
			        { header: '작업지시코드', name: 'woCode',sortable: true,align: 'center', width:'150'},
			        { header: '품목코드', name: 'pdtCode',sortable: true,align: 'center' ,width:'150'},
			        { header: '품목', name: 'pdtName' ,align: 'center', width:'150'},
			        { header: '수량', name: 'soQty' ,align: 'center',  width:'100'},
			        { header: '단위', name: 'unit' ,align: 'center' ,formatter: () => 'EA', width:'100'},
			        { header: '작업담당자', name: 'empName' ,align: 'center', width:'100'},
// 			        { header: '라인', name: 'lineCode' ,align: 'center'},
			        { header: '공정', name: 'prcTypeCode' ,align: 'center' ,width:'150'},
			        { header: '공정 상태', name: 'woStatusName' ,align: 'center',  width:'150'},
			        { header: '작업 시작일', name: 'woStartDate',sortable: true,align: 'center' ,width:'150' },
			        { header: '작업 종료일', name: 'woEndDate' ,align: 'center' ,width:'150'}
			      ],
			    });
		    	
			    grid.on('click', ev => {
		              const { rowKey, columnName } = ev;

		              if (columnName === '_checked') return;
		              const isChecked = grid.getCheckedRowKeys().includes(rowKey);
		              if (!isChecked) {
		                grid.check(rowKey);
		              } else {
		                grid.uncheck(rowKey);
		              }
		            });
		  </script>
		  
		  <div class="text-end" sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_ADMIN')"> <!-- 공정 버튼 -->
				<button class="btn btn-primary btn-m " id="workStartBtn" onclick="workStar()"><i class="fa-solid fa-circle-play"></i> 작업시작</button>
				<button class="btn btn-success btn-m" id="processFinishBtn"><i class="fa-solid fa-circle-check"></i> 공정완료</button>
				<button class="btn btn-warning btn-m" id="defectCheckBtn"><i class="fa-solid fa-spinner"></i> 품질검사</button>
				<button class="btn btn-secondary btn-m" id="workEndBtn"><i class="fa-solid fa-file-circle-check"></i> 작업종료</button>
			</div>
		  	<div class="card-header">
			  <h5 class="card-title">👋 오늘 기준 미완료 공정 TOP 5</h5>
			</div>
			
			<div id="myChart6"></div>
			
			<script type="text/javascript" th:inline="javascript">
			  let processNameList = /*[[${processNameList}]]*/ [];
			  let incompleteCountList = /*[[${incompleteCountList}]]*/ [];

			  const data6 = {
			    categories: processNameList,
			    series: [
			      {
			        name: '미완료 건수',
			        data: incompleteCountList
			      }
			    ]
			  };

			  const options6 = {
			    chart: {
			      width: 600,
			      height: 400,
			    },
			    yAxis: {
			      title: '건수',
			      min: 0
			    },
			    xAxis: {
			      title: '공정명',
			      categories: processNameList
			    },
			    series: {
			      showLabel: true
			    }
			  };

			  if (processNameList.length === 0) {
			    document.getElementById('myChart6').innerHTML = '<span> - 현재 미완료 공정이 없습니다 <i class="fa-regular fa-face-smile-beam"></i></span>';
			  } else {
			    toastui.Chart.barChart({
			      el: document.getElementById('myChart6'),
			      data: data6,
			      options: options6
			    });
			  }
			</script>
		  	
				
		  	
		    <div class="card-header">
		        <h5 class="card-title">📈 최근 7일간 공정 완료 추이</h5>
		    </div>
		    
		    <div>
		    
		<div id="myChart9"></div>
		<script th:inline="javascript">
		window.workDateList = /*[[${workDateList}]]*/ [];
		window.completeCountList = /*[[${completeCountList}]]*/ [];
			const options9 = {
					  chart: {
					    type: 'area',
					    height: 350
					  },
					  series: [{
					    name: "공정 완료 수",
					    data: completeCountList
					    
					  }],
					  xaxis: {
					    type: 'category',
					    categories: workDateList
					  },
					  yaxis: {
					    min: 0, // 시작 값
					    tickAmount: 8, // 눈금 수
					    forceNiceScale: true,
					    labels: {
					      formatter: function (val) {
					        return Number.isInteger(val) ? val : '';
					      }
					    }
					  },
					  colors: ["#00C49F"],
					  fill: {
					    type: "gradient",
					    gradient: {
					      shadeIntensity: 1,
					      opacityFrom: 0.7,
					      opacityTo: 0.3,
					      stops: [0, 90, 100]
					    }
					  }
					};
					//console.log(workDateList); // 날짜
					//console.log(completeCountList); // 개수
				  const chart9 = new ApexCharts(document.querySelector("#myChart9"), options9);
				  chart9.render();
		</script>
		
		    
		    
		    </div>
		  
		    
		    </div><!-- /card-body -->
	</div><!-- /card -->

	<!-- 모달 -->
	<div class="modal fade" id="workModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered modal-xl">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fa-solid fa-bars"></i> 제조 계획 목록</h5>
	            </div>
	            <div class="modal-body">
	                <p>등록완료된 제조계획이 보여집니다.</p>
	                <div id="grid3" ></div>
					<script th:inline="javascript">
						const gridData3 = /*[[${planList}]]*/ []; //생산계획 리스트
						 //console.log('모달> 제조계획 >',gridData3);
						
						const grid3 = new tui.Grid({
						  el: document.getElementById('grid3'),
						  data: gridData3,
						  rowHeaders: ['checkbox'],
						  scrollX: true,
						  scrollY: true,
						  columns: [
					        { header: '계획코드', name: 'msCode',sortable: true,align: 'center' },
					        { header: '품목코드', name: 'pdtCode',sortable: true,align: 'center'},
					        { header: '품목', name: 'pdtName' ,align: 'center'},
					        { header: '계획 수량', name: 'soQty' ,align: 'center'},
					        { header: '담당자', name: 'empName' ,align: 'center'},
// 					        { header: '생산 시작 예정일', name: 'msStartTime',sortable: true,align: 'center' },
// 					        { header: '생산 완료 목표일', name: 'msEndTime' ,align: 'center'}
						  ]
						});
						
						grid3.on('click', (ev) => {
						  const rowKey = ev.rowKey;

						  if (typeof rowKey !== 'undefined') {
						    const isChecked = grid3.getCheckedRowKeys().includes(rowKey);

						    if (!isChecked) {
						      grid3.check(rowKey);
						    } else {
						      grid3.uncheck(rowKey);
						    }
						  }
						});

					</script>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
	                    <span class="d-none d-sm-block">닫기</span>
	                </button>
	                <button type="button" class="btn btn-primary ms-1" onclick="regiWorkOrderBtn()">
	                    <span class="d-none d-sm-block" id="regiWorkOrder" name="regiWorkOrder" >작업 지시 등록 <i class="fa-regular fa-circle-check"></i></span>
	                </button>
	            </div>
	        </div>
	    </div>
	</div><!-- /모달 -->
	

</div> <!-- /layout:fragment -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		function regiWorkOrderBtn(){
			const selectedRows = grid3.getCheckedRows();
			
			const data = { ...selectedRows[0] }; //1개 row
// 			const data = selectedRows
			
			//console.log("보낼 데이터>>>", data);
			
			$.ajax({
				url : "/workOrder/regist",
				method : "POST",
				contentType: "application/json",
				data: JSON.stringify(data),
// 				data : {data},
				success : function (response){
					grid3.removeCheckedRows();

					$.ajax({
					    url: "/workOrder/data",
					    method: "GET",
					    success: function(newData) {
							console.log(newData);
					        grid.resetData(newData);
							
							location.reload();
					    }
					});
				},
				error : function (error){
					console.log(error);
				}
			});
		}
		
		$(document).ready(function() {
		    $('#workModal').on('shown.bs.modal', function () {
		        grid3.refreshLayout();
		    });

		    $('#workModal').on('hidden.bs.modal', function () {
		        location.reload();
		    });
		});
		
		function workStar(){

			const selectedRows = grid.getCheckedRows();
			const data = { woNo: selectedRows[0].woNo }; //작업지시 번호
			
			$.ajax({
				url : "/workOrder/start",
				method : "POST",
				contentType: "application/json",
				data: JSON.stringify(data),
				success : function (response){
					//console.log(response);
					 Swal.fire({
					        title: '작업시작!',
					        icon: 'success',
					        timer: 700,
					        showConfirmButton: false
					      }).then(() => {
					        location.reload();
					      });
					    
					//$('#workModal').modal('hide');
				},
				error : function (error){
					console.log(error);
				}
			});
		}
	
		document.addEventListener("DOMContentLoaded", function () {
		    const originalData = [...gridData];

		    function applyFilter() {
		      const keyword = document.getElementById('searchInput').value.toLowerCase();

		      let filtered = originalData;

		      if (keyword) {
		        filtered = filtered.filter(row =>
		          Object.values(row).some(val =>
		            val != null && String(val).toLowerCase().includes(keyword)
		          )
		        );
		      }

		      grid.resetData(filtered);
		    }

		    document.getElementById('searchInput').addEventListener('input', applyFilter);
		  });
	</script>
</th:block>
</body>
</html>