<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
	<!-- 최신 xlsx 스크립트 CDN(엑셀용) -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css" />
	
	<!-- JS -->
	<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
	<script src="https://uicdn.toast.com/tui.dom/latest/tui-dom.js"></script>
	<script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>


</head>
<body>
<div layout:fragment="content">

	<h3>작업지시</h3>
	
	<div class="card">
		    <div class="card-body"> <!-- 여기에 내용작성 -->
		    <div class="card-header">
		        <h5 class="card-title"></h5>
		    </div>
			<div class="row mb-3"> <!-- 검색박스 -->
		        <div class="col-md-3">
		            <input type="month" class="form-control" placeholder="등록월">
		        </div>
		        <div class="col-md-4">
		            <div class="input-group">
		                <input type="text" class="form-control" placeholder="상품명을 입력해주세요.">
		                <button class="btn btn-outline-secondary" type="button">
		                    <i class="bi bi-search"></i>
		                </button>
		            </div>
		        </div>
	   			<div class="text-end"> <!-- 작업등록 버튼 -->
				    <button class="btn btn-primary btn-m" id="regeWork" data-bs-toggle="modal" data-bs-target="#workModal"><i class="fa-solid fa-magnifying-glass"></i> 작업등록</button>
				</div><!-- 작업등록 버튼 -->
		    </div><!-- /검색박스 -->
		    <hr>
   			
			
			<div class="card-header">
		        <h5 class="card-title"><i class="fa-solid fa-bars"></i> 작업지시 목록</h5>
		    </div>
		    <p>지시번호(PK) / 계획번호(work_order_code) / 품목번호or품목코드(pdt_code) / 품목(pdt_no) / 수량(order_qty) / 단위(PRODUCTS JOIN) / 작업담당자 / 라인 / 공정상태 / 작업시작일(work_start_time) / 작업종료일 </p>
		    <div id="grid" style="height: 400px;"></div>
		    
		    <script th:inline="javascript">
		    	const gridData = /*[[${orderList}]]*/ [];
		    	gridData.forEach((list, index) => list.rowNum = index + 1); //row번호
		    	
			    const grid = new tui.Grid({
			      el: document.getElementById('grid'),
			      data: gridData,
			      rowHeaders: ['checkbox'],
			      scrollX: false,
			      scrollY: true,
			      bodyHeight: 300,
			      columns: [
			    	{ header: '지시번호', name: 'rowNum', sortable: true,align: 'center'},
			        { header: '계획코드', name: 'woCode',sortable: true,align: 'center' },
			        { header: '품목코드', name: 'pdtCode',sortable: true,align: 'center'},
			        { header: '품목', name: 'pdtName' ,align: 'center'},
			        { header: '수량', name: 'woQty' ,align: 'center'},
			        { header: '단위', name: 'unit' ,align: 'center' ,formatter: () => 'EA'},
			        { header: '작업담당자', name: 'empName' ,align: 'center'},
// 			        { header: '라인', name: 'lineCode' ,align: 'center'},
			        { header: '공정', name: 'prcCode' ,align: 'center'},
			        { header: '공정 상태', name: 'woStatusName' ,align: 'center'},
			        { header: '작업 시작일', name: 'woStartDate',sortable: true,align: 'center' },
			        { header: '작업 종료일', name: 'woEndDate' ,align: 'center'}
			      ]
			    });
		  </script>
		  
		  <div class="text-end"> <!-- 공정 버튼 -->
				<button class="btn btn-primary btn-m " id="workStartBtn" onclick="workStar()"><i class="fa-solid fa-circle-play"></i> 작업시작</button>
				<button class="btn btn-success btn-m" id="processFinishBtn"><i class="fa-solid fa-circle-check"></i> 공정완료</button>
				<button class="btn btn-warning btn-m" id="defectCheckBtn"><i class="fa-solid fa-spinner"></i> 품질검사</button>
				<button class="btn btn-secondary btn-m" id="workEndBtn"><i class="fa-solid fa-file-circle-check"></i> 작업종료</button>
			</div>
		  
		  
			<div class="card-header">
			    <h5 class="card-title"><i class="fa-solid fa-bars"></i> 자재 / 삭제 가능성</h5>
			</div>
			    <div id="grid2" style="height: 400px;"></div>
				<script th:inline="javascript">
					const gridData2 = /*[[${orderList}]]*/ []; //적어야함
// 					gridData2.forEach((list, index) => list.rowNum = index + 1); //row번호
					
					const grid2 = new tui.Grid({
					  el: document.getElementById('grid2'),
					  data: gridData2,
					  rowHeaders: ['checkbox' , 'rowNum'],
					  scrollX: false,
					  scrollY: true,
					  bodyHeight: 300,
					  columns: [
// 						{ header: '지시번호', name: 'rowNum', sortable: true,align: 'center'},
					    { header: '자재명', name: '' , sortable: true,align: 'center'},
					    { header: '창고', name: '' , sortable: true,align: 'center'},
					    { header: '구역', name: '' , sortable: true,align: 'center'},
					    { header: '출고수량', name: '' , sortable: true,align: 'center'},
					    { header: '단위', name: '' },
					  ]
					});
				</script>
		    
		    
		    
		    
		    
		    
		    </div><!-- /card-body -->
	</div><!-- /card -->

	<!-- 모달 -->
	<div class="modal fade" id="workModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	    <div class="modal-dialog modal-dialog-centered modal-xl">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="exampleModalCenterTitle"><i class="fa-solid fa-bars"></i> 제조 계획 목록</h5>
	            </div>
	            <div class="modal-body">
	                <p>등록완료된 제조계획이 보여집니다.</p>
	                <div id="grid3" ></div>
					<script th:inline="javascript">
						const gridData3 = /*[[${planList}]]*/ []; //생산계획 리스트
						 console.log('gdfgdfgfdfg',gridData3);
						
						const grid3 = new tui.Grid({
						  el: document.getElementById('grid3'),
						  data: gridData3,
						  rowHeaders: ['checkbox'],
						  scrollX: false,
						  scrollY: true,
						  columns: [
					        { header: '계획코드', name: 'msCode',sortable: true,align: 'center' },
					        { header: '품목코드', name: 'pdtCode',sortable: true,align: 'center'},
					        { header: '품목', name: 'pdtName' ,align: 'center'},
					        { header: '계획 수량', name: 'soQty' ,align: 'center'},
					        { header: '생산 시작 예정일', name: 'msStartTime',sortable: true,align: 'center' },
					        { header: '생산 완료 목표일', name: 'msEndTime' ,align: 'center'}
						  ]
						});
						
						grid3.on('click', (ev) => {
						  const rowKey = ev.rowKey;

						  if (typeof rowKey !== 'undefined') {
						    const isChecked = grid3.getCheckedRowKeys().includes(rowKey);

						    if (!isChecked) {
						      grid3.check(rowKey);
						    } else {
						      grid3.uncheck(rowKey);
						    }
						  }
						});

					</script>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
	                    <span class="d-none d-sm-block">닫기</span>
	                </button>
	                <button type="button" class="btn btn-primary ms-1" onclick="regiWorkOrderBtn()">
	                    <span class="d-none d-sm-block" id="regiWorkOrder" name="regiWorkOrder" >작업 지시 등록 <i class="fa-regular fa-circle-check"></i></span>
	                </button>
	            </div>
	        </div>
	    </div>
	</div><!-- /모달 -->
	

</div> <!-- /layout:fragment -->
<th:block layout:fragment="script">
	<script type="text/javascript">
		function regiWorkOrderBtn(){
			const selectedRows = grid3.getCheckedRows();
			
			const data = { ...selectedRows[0] }; //1개 row
// 			const data = selectedRows

			
			console.log("보낼 데이터>>>", data);
			
			$.ajax({
				url : "/workOrder/regist",
				method : "POST",
				contentType: "application/json",
				data: JSON.stringify(data),
// 				data : {data},
				success : function (response){
					alert(response);
					grid3.removeCheckedRows();
// 					location.reload();

					$.ajax({
					    url: "/workOrder/data",
					    method: "GET",
					    success: function(newData) {
					        grid.resetData(newData);
					    }
					});
				},
				error : function (error){
					console.log(error);
				}
			});
		}
		
		$(document).ready(function() {
		    $('#workModal').on('shown.bs.modal', function () {
		        grid3.refreshLayout();
		    });

		    $('#workModal').on('hidden.bs.modal', function () {
		        location.reload();
		    });
		});
		
		function workStar(){
			alert("작업시작 버튼 클릭");
			const selectedRows = grid.getCheckedRows();
			const data = { woNo: selectedRows[0].woNo }; //작업지시 번호
			console.log("보낼 데이터>>>", data);
			$.ajax({
				url : "/workOrder/start",
				method : "POST",
				contentType: "application/json",
				data: JSON.stringify(data),
				success : function (response){
					alert(response);
					location.reload();
				},
				error : function (error){
					console.log(error);
				}
			});
		}
	
	</script>
</th:block>
</body>
</html>