<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.cmtProject.mapper.mes.wareHouse.WareHouseMapper">
	<select id = "warehouseList" resultType="map" parameterType="map">
        SELECT 
            WHS_NO, WHS_CODE, WHS_NAME, WHS_TYPE, WHS_LOCATION, WHS_MANAGER, 
            WHS_CAPACITY, WHS_COMMENTS, WHS_USED, USE_YN, 
            CREATED_BY, UPDATED_BY, CREATED_DATE, UPDATED_DATE
        FROM 
            WAREHOUSES
        WHERE 
            USE_YN = 'Y'
        ORDER BY 
            WHS_NO DESC
	
	
	</select>


</mapper>
